{% extends "base.html" %}
{% block title %}Account Setup{% endblock %}

{% block sidebar %} {% endblock %}



{% block head %}
<style type='text/css' xmlns="http://www.w3.org/1999/html">
label.error {
 float: none;
 color: red;
 padding-left: .5em;
 vertical-align: top;
 }
 body {
    background-image: url('/static/grey.png');
 }
 </style>
{% endblock %}

{% block content %}
<div id="signup-container" class="container">
  <div id="signup-box" class="span12">

  <div class="small-title">
    <h2>Change your email</h2>
    <p style="font-size:12px;">Receive messages at this email when your item has been sold and other notifications</p>
  </div>
    
  
  <div class="small-body">
  {% if message %}
  <p style="color:red">{{ message }}</p>
  {% endif %}
  <form action="."  method="post" class="form-horizontal" id="sellForm">{% csrf_token %}
  <div id="fields form">
    {% for field in form %}
      <div class="control-group">
        {{ field.errors }}
        <label class="control-label" id="{{field.html_name}}">{{ field.label }}</label>
        <div class="controls ">
        {{ field }}
          <span class="help-block">{{ field.help_text }}</span>
        </div>
      </div>
    {% endfor %}
  </div>

  <input type="submit" class="btn btn-primary loading" data-loading-text="Sending..." value="Send Verification Email" />
      <br><br>
  <a href="{% url account_profile %}" class="btn" />Skip</a>
  </form>

  </div>
  </div>
</div>
{% endblock %}


{% block post_js %}
<script type="text/javascript" src="/static/jquery-validation-1.9.0/jquery.validate.min.js"></script>
<script type="text/javascript">


$(document).ready(function(){
    $("#sellForm").validate({
      rules: {
        email: {
          required: true,
          email: true
        }
      },
        submitHandler: function(form) {
            // do other stuff for a valid form
            $(".loading").button('loading')
            form.submit();
        }
    });
    

  });
</script>
{% endblock %}


