{% extends "registration/registration_base.html" %}
{% block title %}Password reset complete{% endblock %}
{% block content %}


    <div id="small-container" class="container">
        <center>
            <div id="small-box" >
                <div class="small-title-message">
                    <h2> Password reset complete</h2>
                </div>
                <div class="small-body-message">
                    <p>
                        Your password has been reset!  You may now <a href="{{ login_url }}">log in</a>.
                    </p>
                </div>

            </div>
        </center>
    </div>

{% endblock %}
