{% extends "registration/registration_base.html" %}
{% block title %}Password changed{% endblock %}
{% block content %}
    <div id="small-container" class="container">
        <center>
            <div id="small-box" >
                <div class="small-title-message">
                    <h2> Password Change Complete </h2>
                </div>
                <div class="small-body-message">
                    <p> Password has been successfully changed. </p>
                    <br>
                    <a href="/"> Click here to go home</a>
                </div>

            </div>
        </center>
    </div>
{% endblock %}

