{% extends "registration/registration_base.html" %}
{% block title %}Change password{% endblock %}

{% block head %}
    <style type='text/css'>
        label.error {
            float: none;
            color: red;
            padding-left: .5em;
            vertical-align: top;
        }
    </style>
{% endblock %}

{% block content %}

    <div id="signup-container" class="container">
        <div id="signup-box" class="span12">


            <div class="small-title">
                <h2> Change Password</h2>
            </div>


            <div class="small-body">
                <form method='post' class="form form-horizontal" action='' id="form">{% csrf_token %}
                    {% for field in form %}
                        <div class="control-group">
                            {{ field.errors }}
                            <label class="control-label" id="{{field.html_name}}">{{ field.label }}</label>
                            <div class="controls ">
                                {{ field }}
                                <span class="help-block">{{ field.help_text }}</span>
                            </div>
                        </div>
                    {% endfor %}
                    <input type="submit" class="btn btn-primary" value="Change Password" />
                </form>
            </div>
        </div>
    </div>

{% endblock %}

{% block post_js %}
    <script type="text/javascript" src="/static/jquery-validation-1.9.0/jquery.validate.min.js"></script>
    <script type="text/javascript">


        $(document).ready(function(){
            $("#form").validate({
                rules: {
                    old_password: {
                        required: true,
                    },
                    new_password1: {
                        required: true,
                        minlength: 6,
                        maxlength: 22,
                    },
                    new_password2: {
                        equalTo: "#id_new_password1"
                    },
                }
            });


        });
    </script>
{% endblock %}