{% extends "registration/registration_base.html" %}
{% block title %}Confirm password reset{% endblock %}
{% block content %}
    <div id="small-container" class="container">
        <center>
            <div id="small-box" >
                <div class="small-title-message">
                    <h2> Confirm password reset </h2>
                </div>
                <div class="small-body-message">
                    Enter your new password below to reset your password:<br><br>
                    <form id="Form" method="post" action="">{%  csrf_token %}
                        {% for field in form %}
                            <div class="control-group">
                                {{ field.errors }}
                                <label class="control-label" id="{{field.html_name}}">{{ field.label }}</label>
                                <div class="controls ">
                                    {{ field }}
                                    <span class="help-block">{{ field.help_text }}</span>
                                </div>
                            </div>
                        {% endfor %}
                        <input class="btn btn-primary" type='submit' value="Reset password" />
                    </form>
                </div>

            </div>
        </center>
    </div>
{% endblock %}

{% block post_js %}
    <script type="text/javascript" src="/static/jquery-validation-1.9.0/jquery.validate.min.js"></script>
    <script type="text/javascript">


        $(document).ready(function(){
            $("#Form").validate({
                rules: {
                    new_password1: {
                        required: true,
                        minlength: 6,
                        maxlength: 22,
                    },
                    new_password2: {
                        equalTo: "#id_new_password1"
                    },
                }
            });


        });
    </script>
{% endblock %}
