{% extends "registration/registration_base.html" %}
{% block title %}Reset password{% endblock %}
{% block content %}



    <div id="small-container" class="container">
        <center>
            <div id="small-box" >
                <div class="small-title-message">
                    <h2> Reset Password </h2>
                </div>
                <div class="small-body-message">
                    Forgot your password?  Enter your email in the form below and we'll send you
                    instructions for creating a new one.<br><br>
                    <form method="post" action="">{%  csrf_token %}
                    {% for field in form %}
                        <div class="control-group">
                            {{ field.errors }}
                            <label class="control-label" id="{{field.html_name}}">{{ field.label }}</label>
                            <div class="controls ">
                                {{ field }}
                                <span class="help-block">{{ field.help_text }}</span>
                            </div>
                        </div>
                    {% endfor %}
                    <input class="btn btn-primary" type='submit' value="Reset password" />
                    </form>
                </div>

            </div>
        </center>
    </div>

{% endblock %}
