<!DOCTYPE html>
<html lang="en">
  <head>

<!--




"What the heck? Why are you rendering a html page with hidden json instead of returning the json directly?"


For whatever reason, the default python simplecgiserver will only return output from a script if it looks like valid html. So, the json must be hidden inside a html document, and then extraced by the callback javascript function on the client webpage.


It may be possible to extend or customize the simplecgiserver to return non-html data, but this works for now.




-->


    <meta charset="utf-8">
    <title>Buy Near Me DASHBOARD</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="../assets/css/bootstrap.css" rel="stylesheet">
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>
    <link href="../assets/css/bootstrap-responsive.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="../assets/js/html5shiv.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
                    <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">
                                   <link rel="shortcut icon" href="../assets/ico/favicon.png">
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="#">synergy nodecopter bootshim ALPHA v.001</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active"><a href="#">This Page</a></li>
              <li><a href="http://buynear.me">The Actual Page</a></li>
              <li><a href="http://buynear.me/admin">BNM Admin</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">

      <h1>Current System Status as of: <font color='green'>  %TIME%</font></h1>
      <p>New data should be collected every half hour. If all data is reported as unavailabe, the data files got deleted, or perhaps you loaded this page at 12:00:01, right before cron script generated today's json file.</p>

      <div class = "row">
        <div class = "span4">
          <h2>JSON RESPONSE </h2>
          ~!@$%^&*()_+

          ~!@$%^&*()_+
        </div>
    


      </div>

    
    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="../assets/js/jquery.js"></script>
    <script src="../assets/js/bootstrap.js"></script>

  </body>
</html>

