.ui-btn, .ui-shadow, .ui-btn-corner-all, .ui-btn-up-b
{
    background-image: none !important;
    border-radius: 0px !important;
}

.ui-btn-inner
{
    border-left: 0px solid #555 !important;
    border-right: 0px solid #555 !important;
    border-bottom: 0px !important;
    background: #FFF !important;
    color: #000 !important;
    text-shadow: none;
    font-weight: 300;
    font-size: 14px;
}

.ui-header .ui-navbar li .ui-btn, .ui-footer .ui-navbar li .ui-btn
{
    border-left: 1px solid #eee;
    border-bottom: 1px solid #eee;
}

.ui-btn-corner-all
{
    background: rgb(0, 175, 240) !important;
    color: white !important;
}

#browse-list
{
    box-shadow: none !important;
    border: none !important;
}

#min-price, #max-price 
{
    border-radius: 0px;
    padding-left: 0px;
}

.ui-navbar
{
    background: white !important;
}

#filter-options h5 
{
    display: none;
}
#filter-options .ui-input-search
{
    background: white !important;
    box-shadow: none;
}

#filter-options input[type="text"]
{
    background: white !important;
    padding-left: 3em;
}

#filter-options label, p
{
    font-weight: 300 !important;
    font-size: 14px !important;
}

#browse-list-header
{
    border-radius: 0px;
    border: 0px !important;
    font-weight: 300 !important;
    margin-bottom: 10px !important;
}

#filter-container, #filter-options
{
    border-radius: 0px !important;
    border: none;
}

.ui-li-heading
{
    font-weight: 300 !important;
}

#browse-list-footer
{
    display: none !important;
}

#items-container
{
    margin-left: 10px !important;
    margin-right: 10px !important;
}

#filter-button-container
{
    margin-left: 10px !important;
    margin-right: 10px !important;
    box-shadow: none;
}

#filter-button-container div span
{
    border: none;
    padding-left: 9px;
}

#filter-button-container div, #filter-button-container div:hover
{
    box-shadow: none;
    padding: 5px 0px 5px 50px;
    height: 30px;
    background: white;
}

#filter-button-container div: hover
{
    background: white;
}

.ui-bar-b
{
    border: none;
}

.ui-btn
{
    border: none;
}

.box
{
    background-color: #eee;
    border: none !important;

}

/*WARNING all h2-4 fonts changed*/
input {
    background-image: none !important;
    border: none;
}
h2 {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
}

h3 {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
}

h4 {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
}

.font-300 {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
}

.font-400 {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
}

.font-600 {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
}

.div-page {
     background-image: none;
     background: #eee;
     /*background: #b5daff;*/
}

.title {
    border-bottom: 1px solid #e5e5e5;
    margin-bottom:10px;
    margin-left:-10px;
    margin-right:-10px;
}

.title h2 {
    margin-top:-5px;
    margin-bottom:5px;
}

#nav-logo {
    height:23px;
    margin-left:5px;
    margin-top:6px;
}

/*use instead of hr*/
.border {
    background-color: #FFFFFF;
    border-top: 0px solid #e5e5e5;
    width:100%;
    clear: both;
}

.box {
    padding: 10px;
    margin:10px;
    margin-top: 0;
    border: 1px solid #e5e5e5;
    background-color: #eee;
    -moz-border-radius: 15px;
    border-radius: 8px;
}

#home-logo {
    padding: 10px;
    margin: 10px;
    margin-bottom: 0;
    padding-bottom: 2px;
}

#home-list {
    margin: 0 10px 0 10px;
}

.panel {
    display:none;
    background: #555;
    color: black;
    text-shadow: none;
    font-weight: 300;
}

.panel-item {
    padding-left:8px;
    padding-top:8px;
    padding-bottom:8px;
    font-size:14px;
    font-weight: 300;
    text-shadow: 0px 0px black;
    color: white;
    float: left;
    width: 100%;
}

.ui-corner-bottom
{
    border-radius: 0px !important;
}

textarea
{
    resize: none !important;
    border-radius: 0px !important;
    font-size: 14px !important;
    font-weight: 300 !important;
}

.ui-header 
{
    border-radius: 0px !important;
    background-image: none;
    background: white;
}

.ui-title
{
    text-shadow: none !important;
    color: black !important;
    font-weight: 300 !important;
}

#panel-id a {
    text-decoration:none;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    color:white;
}


.title {
    border: none !important;
}

#login-box h2
{
    font-size: 20px;
}

.ui-body-d .ui-link
{
    font-weight: 300 !important;
}

#login-box {
    padding: 10px;
    margin-top: 15px;
    border: 0px solid #e5e5e5;
    background-color: #eee;
    -moz-border-radius: 0px;
    border-radius: 0px;
    margin-left: 30px;
    margin-right: 30px;
}

#login-box label {
    font-size: 14px;

}
#login-box input[type="text"], input[type="password"] {
    box-shadow: none;
    border-radius: 0px;
}


#login-btn input[type="submit"] {
    color: white;
    border-radius: 0px;
    background: red;
}

#Gallery{
    padding-top: 5%;
    padding-bottom: 5px;
}

#item-info h3
{
    font-weight: 400 !important;
    font-size: 16px;
    padding-top: 10px;
}

.addthis_toolbox
{
    display: block !important;
}

#item-info{
    padding: 3%;
    padding-top: 0;
    padding-bottom: 3%;
    background: white;
    font-family: 'Source Sans Pro', sans-serif;
}

#item-details {
    font-family: 'Source Sans Pro', sans-serif;
    background-color: white;
    padding: 3%;
    padding-top: 1%;
    padding-bottom: 1%;
    border-radius: 0px;
    border: 0px solid #dfdfdf;
}

#item-details h3 {
    margin-top: 0;
}

#item-details h4 {
    margin-bottom: 5px;
    font-weight: 300;
}

#item-details p {
    margin-top: 5px;
    margin-bottom: 15px;
    font-weight: 300;
}
#item-details h4.push-up {
    margin-top: 0;
    font-weight: 300;
}

.source-font {
    font-family: 'Source Sans Pro', sans-serif;
}

.item-details-span {
    padding-left: 10px;
    font-weight: 300;
}

li.messages p {
    font-size: 11pt;
}

li.messages .sender{
    padding-top: 5px;
    padding-bottom: 2px;
    font-weight: bold;
}

li.messages .msg_time_created {
    padding-bottom: 4px;
}

#sell-container {
    padding: 3%;
    background-color: white;
    border: 0px solid rgb(187, 187, 187);
    border-radius: 0px;
    margin-bottom: 10px;
}

#signup-container {
    padding: 3%;
    background-color: #f9f9f9;
    border: 1px solid rgb(187, 187, 187);
    border-radius: 8px;
    margin-bottom: 10px;
    margin-left: 1%;
    margin-right: 1%;
}

#general-message-container {
    padding: 3%;
    margin-bottom: 10px;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 5%;
}

label.error {
    /*float: left;*/
    color: red;
    vertical-align: top;
    font-weight:bold;
    
}

#filter-container {
    padding-left:8px;
    padding-right:8px;
    padding-bottom:8px;
    padding-top:8px;
    
}

#filter-options {
    margin: 0% 1% 1% 1%;
    padding: 5px 2% 0 2%;
    background-color: #f9f9f9;
    border: 1px solid #cccccc;
    border-radius: 8px;
}

#comments-section {
    background-color: white;
    padding: 3%;
}

.browse-item {
    background-color: white;
    background-image: none;
    z-index: 0;
    border-top-width: 0px; 
    /* usually jqm has border on top, 
    but it messed with #browse-list-header overlapping, so i removed top and added a bottom */
    border-bottom:1px solid #aaa;
}

#browse-list {
    margin-left: 0.5%; 
    margin-right:0.5%;
    box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px 0px;
    border: 1px solid rgb(187, 187, 187);
    border-top: 0;
    border-bottom: 0;
}

#browse-list-header {
    margin-left: 0.5%; 
    margin-right:0.5%;
    text-align: center;
    background-color: #efefef;
    border: 1px solid rgb(187, 187, 187);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    padding: 2px 0 2px 0;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    z-index: 10;
}

#sell-form .ui-select
{
    width: 100% !important;
}

#browse-list-footer{
    margin-left: 0.5%; 
    margin-right:0.5%;
    text-align: center;
    background-color: #efefef;
    border: 1px solid rgb(187, 187, 187);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top: 0;
    padding: 2px 0 2px 0;
    font-family: 'Source Sans Pro', sans-serif;
    margin-bottom: 12px;
}

#no-search-results {
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    padding-top: 12px;
    font-weight: 300;
    padding-bottom: 12px;
    margin-left: 0.5%; 
    margin-right:0.5%;
    background-color: white;
    border: 0px solid rgb(187, 187, 187);
}

#browse-list a{
    padding-top: 0;
    padding-bottom: 0;
}

#colored-page-header {
    font-weight: 300;
    margin-top: 20px;
    margin-bottom: 10px;
    text-shadow: none;
    border-radius: 0px;
    font-size: 20x !important;
}

.sell-input-group {
    margin-bottom: 7%;
}

.ui-btn-inner .ui-icon-delete
{
    #display: none;
}

.ui-btn-icon-notext .ui-btn-inner {
    background: white !important;
}

.sell-input-group label {
    font-weight: 300;
    font-size: 13px;
}

.sell-input-group input {
    font-weight: 300;
    font-size: 14px;
    border-radius: 0px;
    box-shadow: none;
}

.div-page center
{
    font-size: 14px;
    font-weight: 300;
}

#view-item-title {
    padding: 3% 3% 3% 3%;
    margin-bottom: 0; 
    text-align: center; 
    font-size: 20px;
    font-weight: 300;
    border: 0px solid rgb(187, 187, 187);
    border-bottom: 0;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.select-new-image {
    border: 0px solid #0080ff;
    border-radius: 0px;
    padding: 10px;
    background-color: rgb(0, 175, 240) !important;
    color: white;
    text-shadow: none;
    font-weight: 300;
    font-size: 13px;
    margin-left: 10px;
}

.change-image {
    border: 0px;
    border-radius: 0px;
    padding: 10px;
    background-color: rgb(0, 175, 240) !important;
    color: white;
    text-shadow: none;
    font-weight: 300;
    font-size: 13px;
    margin-right: 5px;
    margin-left: 10px;
}

.rotate-image {
    border: 0px;
    border-radius: 0px;
    padding: 10px;
    background-color: rgb(0, 175, 240) !important;
    color: white;
    text-shadow: none;
    font-weight: 300;
    font-size: 13px;
    margin-right: 7px;
}

.fileupload .btn, .fileupload .btn:hover
{
    color: white;
    text-decoration: none;
}

.fileupload
{
    margin-top: 15px;
}

.remove-image {
    border: 0px;
    border-radius: 0px;
    padding: 10px;
    background-color: rgb(0, 175, 240) !important;
    color: white;
    text-shadow: none;
    font-weight: 300;
    font-size: 13px;
    margin-right: 5px;
}

.upload-more {
    border: 0px;
    border-radius: 0px;
    padding: 10px;
    background-color: #555 !important;
    color: white;
    text-shadow: none;
    font-weight: 300;
    font-size: 13px;
}