/*WARNING all h2-4 fonts changed*/
h2 {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
}

h3 {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
}

h4 {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
}

.font-300 {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
}

.font-400 {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
}

.font-600 {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
}

#body-page {
    background-image: url('/static/retina_dust.png');
}

.title {
    border-bottom: 1px solid #bababa;
    margin-bottom:10px;
}

.title h2 {
    margin-top:-5px;
    margin-bottom:5px;
}

.box {
    padding: 10px;
    margin:10px;
    margin-top: 0;
    border: 1px solid #e5e5e5;
    background-color: #f2f2f2;
    -moz-border-radius: 15px;
    border-radius: 8px;
}

#home-logo {
    padding: 10px;
    margin: 10px;
    margin-bottom: 0;
    padding-bottom: 2px;
}

#home-list {
    margin: 0 10px 0 10px;
}

#filter-container {
    padding-left:8px;
    padding-right:8px;
    padding-bottom:5px;
}

#browse-list a{
    padding-top: 0;
    padding-bottom: 0;
}

#login-box {
    padding: 10px;
    margin:10px;
    margin-top: 0;
    border: 1px solid #e5e5e5;
    background-color: #f2f2f2;
    -moz-border-radius: 15px;
    border-radius: 8px;
}

#Gallery{
    padding-top: 5%;
    padding-bottom: 5px;
}

#item-info{
    padding: 3%;
    padding-top: 0;
    padding-bottom: 3%;
    font-family: 'Source Sans Pro', sans-serif;
}

#item-details {
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #f8f8f8;
    padding: 3%;
    padding-top: 1%;
    padding-bottom: 1%;
    margin: 3%;
    border-radius: 8px;
    border: 1px solid #dfdfdf;
}

#item-details h3 {
    margin-top: 0;
}

#item-details h4 {
    margin-bottom: 5px;
}

#item-details p {
    margin-top: 5px;
    margin-bottom: 15px;
}
#item-details h4.push-up {
    margin-top: 0;
}

.source-font {
    font-family: 'Source Sans Pro', sans-serif;
}

.item-details-span {
    padding-left: 10px;
    font-weight: normal;
}

li.messages p {
    font-size: 11pt;
}

li.messages .sender{
    padding-top: 5px;
    padding-bottom: 2px;
    font-weight: bold;
}

li.messages .msg_time_created {
    padding-bottom: 4px;
}

#sell-container {
    padding: 3%;
}

label.error {
    float: left;
    color: red;
    vertical-align: top;
    font-weight:bold
}

#filter-options {
    display: none;
    padding: 0% 3% 1% 3%;
}
