#home-logo {
    padding: 10px;
    margin: 10px;
    margin-bottom: 0;
    padding-bottom: 2px;
}

#home-list {
    margin: 0 10px 0 10px;
}

#body-page {
}

#browse-list a{
    padding-top: 0;
    padding-bottom: 0;
}