/*WARNING all h2-4 fonts changed*/
h2 {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
}

h3 {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
}

h4 {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
}

.font-300 {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
}

.font-400 {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
}

.font-600 {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
}

.div-page {
     background-image: url('/static/retina_dust.png'); 
     /*background: #b5daff;*/
}

.title {
    border-bottom: 1px solid #e5e5e5;
    margin-bottom:10px;
    margin-left:-10px;
    margin-right:-10px;
}

.title h2 {
    margin-top:-5px;
    margin-bottom:5px;
}

#nav-logo {
    height:23px;
    margin-left:5px;
    margin-top:6px;
}

/*use instead of hr*/
.border {
    background-color: #FFFFFF;
    border-top: 1px solid #e5e5e5;
    width:100%;
    clear: both;
}

.box {
    padding: 10px;
    margin:10px;
    margin-top: 0;
    border: 1px solid #e5e5e5;
    background-color: #f2f2f2;
    -moz-border-radius: 15px;
    border-radius: 8px;
}

#home-logo {
    padding: 10px;
    margin: 10px;
    margin-bottom: 0;
    padding-bottom: 2px;
}

#home-list {
    margin: 0 10px 0 10px;
}

.panel {
    display:none;
    background-image: url("/static/low_contrast_linen.png");
}

.panel-item {
    padding-left:8px;
    padding-top:8px;
    padding-bottom:8px;
    font-size:14px;
    font-weight: 500;
    text-shadow: 1px 1px black;
    float: left;
    width: 100%;
}

#panel-id a {
    text-decoration:none;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    color:white;
}





#login-box {
    padding: 10px;
    margin:10px;
    margin-top: 15px;
    border: 1px solid #e5e5e5;
    background-color: #f2f2f2;
    -moz-border-radius: 15px;
    border-radius: 8px;
}

#Gallery{
    padding-top: 5%;
    padding-bottom: 5px;
}

#item-info{
    padding: 3%;
    padding-top: 0;
    padding-bottom: 3%;
    font-family: 'Source Sans Pro', sans-serif;
}

#item-details {
    font-family: 'Source Sans Pro', sans-serif;
    background-color: white;
    padding: 3%;
    padding-top: 1%;
    padding-bottom: 1%;
    margin: 3%;
    border-radius: 8px;
    border: 1px solid #dfdfdf;
}

#item-details h3 {
    margin-top: 0;
}

#item-details h4 {
    margin-bottom: 5px;
}

#item-details p {
    margin-top: 5px;
    margin-bottom: 15px;
}
#item-details h4.push-up {
    margin-top: 0;
}

.source-font {
    font-family: 'Source Sans Pro', sans-serif;
}

.item-details-span {
    padding-left: 10px;
    font-weight: normal;
}

li.messages p {
    font-size: 11pt;
}

li.messages .sender{
    padding-top: 5px;
    padding-bottom: 2px;
    font-weight: bold;
}

li.messages .msg_time_created {
    padding-bottom: 4px;
}

#sell-container {
    padding: 3%;
    background-color: #f9f9f9;
    border: 1px solid rgb(187, 187, 187);
    border-radius: 8px;
    margin-bottom: 10px;
    margin-left: 1%;
    margin-right: 1%;
}

#signup-container {
    padding: 3%;
    background-color: #f9f9f9;
    border: 1px solid rgb(187, 187, 187);
    border-radius: 8px;
    margin-bottom: 10px;
    margin-left: 1%;
    margin-right: 1%;
}

#general-message-container {
    padding: 3%;
    background-color: #f9f9f9;
    border: 1px solid rgb(187, 187, 187);
    border-radius: 8px;
    margin-bottom: 10px;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 5%;
}

label.error {
    /*float: left;*/
    color: red;
    vertical-align: top;
    font-weight:bold;
    
}

#filter-container {
    padding-left:8px;
    padding-right:8px;
    padding-bottom:8px;
    padding-top:8px;
    
}

#filter-options {
    margin: 0% 1% 1% 1%;
    padding: 5px 2% 0 2%;
    background-color: #f9f9f9;
    border: 1px solid #cccccc;
    border-radius: 8px;
}

#comments-section {
    background-color: white;
    padding: 3%;
}

.browse-item {
    background-color: white;
    background-image: none;
    z-index: 0;
    border-top-width: 0px; 
    /* usually jqm has border on top, 
    but it messed with #browse-list-header overlapping, so i removed top and added a bottom */
    border-bottom:1px solid #aaa;
}

#browse-list {
    margin-left: 0.5%; 
    margin-right:0.5%;
    box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px 0px;
    border: 1px solid rgb(187, 187, 187);
    border-top: 0;
    border-bottom: 0;
}

#browse-list-header {
    margin-left: 0.5%; 
    margin-right:0.5%;
    text-align: center;
    background-color: #efefef;
    border: 1px solid rgb(187, 187, 187);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    padding: 2px 0 2px 0;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    z-index: 10;
}

#browse-list-footer{
    margin-left: 0.5%; 
    margin-right:0.5%;
    text-align: center;
    background-color: #efefef;
    border: 1px solid rgb(187, 187, 187);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top: 0;
    padding: 2px 0 2px 0;
    font-family: 'Source Sans Pro', sans-serif;
    margin-bottom: 12px;
}

#no-search-results {
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    padding-top: 12px;
    padding-bottom: 12px;
    margin-left: 0.5%; 
    margin-right:0.5%;
    background-color: white;
    border: 1px solid rgb(187, 187, 187);
}

#browse-list a{
    padding-top: 0;
    padding-bottom: 0;
}

#colored-page-header {
    font-weight: 400; 
    margin: 0; 
    margin-top: 0px; 
    margin-bottom: 10px; 
    border: 1px solid #404040;
    background-color:#5a5a5a; 
    color: white; 
    text-shadow:1px 1px black;
    border-radius: 0px;
}

.sell-input-group {
    margin-bottom: 7%;
}

#view-item-title {
    padding: 0 3% 0 3%; 
    margin-bottom: 0; 
    text-align: center; 
    font-weight: 400;
    border: 1px solid rgb(187, 187, 187);
    border-bottom: 0;
    background-color: white; 
        border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.select-new-image {
    border: 1px solid #0080ff;
    border-radius: 8px;
    padding: 5px;
    background-color: #1a8dff;
    color: white;
    text-shadow: none;
}

.change-image {
    border: 1px solid #e69500;
    border-radius: 8px;
    padding: 5px;
    background-color: #ffa500;
    color: white;
    text-shadow: none;
    margin-right: 5px;
}

.remove-image {
    border: 1px solid #ff1a6b;
    border-radius: 8px;
    padding: 5px;
    background-color: #ff4d8c;
    color: white !important;
    text-shadow: none;
    margin-right: 5px;
    text-decoration: none;
    font-weight: normal !important;
}

.upload-more {
    border: 1px solid #00b374;
    border-radius: 8px;
    padding: 5px;
    background-color: #00cd85;
    color: white !important;
    text-shadow: none;
    margin-right: 5px;
    text-decoration: none;
    font-weight: normal !important;
}