  <div class="modal fade hide msg-modal" id="contact-modal">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal"><i class="icon-remove"></i></button>
        <h3>Reply</h3>
    </div>
    <div class="modal-body">
      <textarea autocomplete="off" class="input-xlarge field span7" id="modal-message" rows="5" style="height:250px;"></textarea>
    </div>
    <div class="modal-footer">
      <button id="modal-send" class="btn btn-primary" data-loading-text="Sending...">Send</button>
      <button class="btn" data-dismiss="modal">Close</button>
    </div>
  </div>

  <!-- this modal activates when message is sent -->
  <div class="modal fade hide" id="success-modal">
    <div class="modal-header">
      <button type="button" class="close close-refresh" data-dismiss="modal"><i class="icon-remove"></i></button>
        <h3>Reply</h3>
    </div>
    <div class="modal-body">
      <p> Message Sent! </p>
    </div>
    <div class="modal-footer">
      <button class="btn close-refresh" data-dismiss="modal">Close</button>
    </div>
  </div>

  <div class="modal fade hide msg-modal" id="confirm-modal">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal"><i class="icon-remove"></i></button>
        <h3>Confirm Purchase</h3>
    </div>
    <div class="modal-body">
      <p>
          Confirm that you will sell the item to this buyer and send a message!
          <br>
          <br>
          Your item will be removed
          from search results to stop other potential buyers from bothering you.
      </p>
      <textarea autocomplete="off" class="input-xlarge field span7" id="confirm-message" rows="5" style="height:250px;"></textarea>
    </div>
    <div class="modal-footer">
      <button id="confirm-modal-send" class="btn btn-primary" data-loading-text="Sending...">Confirm</button>
      <button class="btn" data-dismiss="modal">Close</button>
    </div>
  </div>

  <!-- this modal activates when purchase is confirmed -->
  <div class="modal fade hide" id="confirm-success-modal">
    <div class="modal-header">
      <button type="button" class="close close-refresh" data-dismiss="modal"><i class="icon-remove"></i></button>
        <h3>Confirm Purchase</h3>
    </div>
    <div class="modal-body">
      <p> Successfully confirmed purchase with buyer! </p>
    </div>
    <div class="modal-footer">
      <button class="btn close-refresh" data-dismiss="modal">Close</button>
    </div>
  </div>

  <div class="modal fade hide msg-modal" id="decline-modal">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal"><i class="icon-remove"></i></button>
        <h3>Decline Purchase</h3>
    </div>
    <div class="modal-body">
      <p>Decline this purchase and leave a message saying why.</p>
      <textarea autocomplete="off" class="input-xlarge field span7" id="decline-message" rows="5" style="height:250px;"></textarea>
    </div>
    <div class="modal-footer">
      <button id="decline-modal-send" class="btn btn-primary" data-loading-text="Sending...">Decline</button>
      <button class="btn" data-dismiss="modal">Close</button>
    </div>
  </div>

  <!-- this modal activates when purchase is declined -->
  <div class="modal fade hide" id="decline-success-modal">
    <div class="modal-header">
      <button type="button" class="close close-refresh" data-dismiss="modal"><i class="icon-remove"></i></button>
        <h3>Decline Purchase</h3>
    </div>
    <div class="modal-body">
      <p> Purchase declined. </p>
    </div>
    <div class="modal-footer">
      <button class="btn close-refresh" data-dismiss="modal">Close</button>
    </div>
  </div>

  <!-- this modal activates when purchase declined by seller-->
  <div class="modal fade hide" id="decline-success-seller-modal">
        <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><i class="icon-remove"></i></button>
        <h3>Has this item already been sold?</h3>
      </div>
      <div class="modal-body">
        <p>Remove this item from search results so buyers will no longer contact you about your item.</p>
      </div>
      <div class="modal-footer">
        <a id="confirm-yes" class="btn btn-primary" type="button"  href="/modify_post?post_pk={{ thread.post_id }}&action=done">Sold!</a>
        <button class="btn close-refresh" data-dismiss="modal">Not Sold</button>
      </div>
  </div>

  <div class="modal fade hide msg-modal" id="undo-decline-modal">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal"><i class="icon-remove"></i></button>
        <h3>Undo Decline Purchase</h3>
    </div>
    <div class="modal-body">
      <p>Changed your mind? Tell them why.</p>
      <textarea autocomplete="off" class="input-xlarge field span7" id="undo-decline-message" rows="5" style="height:250px;"></textarea>
    </div>
    <div class="modal-footer">
      <button id="undo-decline-modal-send" class="btn btn-primary" data-loading-text="Sending...">Undo Decline</button>
      <button class="btn" data-dismiss="modal">Close</button>
    </div>
  </div>

  <!-- this modal activates when purchase is declined -->
  <div class="modal fade hide" id="undo-decline-success-modal">
    <div class="modal-header">
      <button type="button" class="close close-refresh" data-dismiss="modal"><i class="icon-remove"></i></button>
        <h3>Undo Decline Purchase</h3>
    </div>
    <div class="modal-body">
      <p> Purchase no longer declined. </p>
    </div>
    <div class="modal-footer">
      <button class="btn close-refresh" data-dismiss="modal">Close</button>
    </div>
  </div>

    <div class="modal fade hide" id="complete-modal">
        <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><i class="icon-remove"></i></button>
        <h3>Confirm Completed Transaction</h3>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to mark this transaction complete?</p>
      </div>
      <div class="modal-footer">
        <a id="confirm-yes" class="btn btn-primary" type="button"  href = "/modify_post?post_pk={{ thread.post_id }}&action=done">Done!</a>
        <button class="btn" data-dismiss="modal">Cancel</button>
      </div>
    </div>

     <!-- this modal activates when purchase is confirmed -->
    <div class="modal fade hide" id="repost-modal">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><i class="icon-remove"></i></button>
        <h3>Confirm Repost</h3>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to give up on the current buyer and repost the item?</p>
      </div>
      <div class="modal-footer">
        <a id="confirm-yes" class="btn btn-primary" type="button"  href = "/modify_post?post_pk={{ thread.post_id }}&action=repost">Repost Item</a>
        <button class="btn" data-dismiss="modal">Cancel</button>
      </div>
    </div>