{% extends "base.html" %}

{% block title %}Buy Near Me - Contact{% endblock %}
{% block sidebar %} {% endblock %}
{% block extra_css %}

{% endblock %}
{% block content %}

    <div id="signup-container" class="container">
        <div id="signup-box" class="span12">


            <div class="small-title">
                <h2>About</h2>
            </div>


            <div class="small-body" style="padding-bottom: 10px;">
                <h3>Our Mission: To make buying and selling personal.</h3>
                <p>
                    Buy Near Me is a student-run social marketplace focused on providing an intuitive way for you to sell to your friends
                    and people who share your interests. Use it to sell that furniture that's gathering dust in the corner,
                    or to pick up cheap textbooks without going to the store.
                    <br><br>
                    We're making it easy to get rid of your stuff in a safe and friendly way to reach the people closest to you, literally and figuratively.
                    <br><br>
                    To sell, simply log in via Facebook (or create a non-Facebook account) and upload a picture and description of that old desk lamp.
                    Set a price, and share the post with people you know.
                    Then, interested buyers will shoot you a message to your registered e-mail inbox as well as your website account to arrange a meet to take it off your hands.
                    <br><br>
                    Conversely, if you're looking to buy something, just create an account,
                    and filter and search for what you want. When you find something, just click the "buy/contact" button to arrange the pickup.
                    <br><br>
                    As a new and evolving site, we are very open to hear what you think. Please direct any suggestions, questions, criticisms or death threats to feedback@buynear.me.
                    <br><br>
                Best Regards,<br>
                    Buy Near Me Team
                
                </p>
            </div>
        </div>
    </div>

{% endblock %}
