{% extends "about_base.html" %}

{% block title %}BuyNearMe - About Us{% endblock %}

{% block content %}
    <div id="about-box" class="span9">

      <div class="small-title"><h2>About Us</h2></div>

      <div class="small-body" style="padding-bottom: 10px;">
        <center><h3 style="margin-top: 0">Buying and selling has never felt so good</h3></center>
        <center><img src="{{ STATIC_URL }}bnm_team.jpg" width="80%" style="margin-bottom: 10px;"/></center>
        <center>
          <p style="color:#4c4c4c; font-size: 14px; font-style: italic">From left to right: Seung, Rory, Jessie, Eric, Calvin</p>
        </center>
        <p>
            BuyNearMe is a student-run social marketplace to help you buy from and sell to your friends and classmates.
            Use it to sell that furniture that's gathering dust in the corner,
            or to pick up cheap textbooks without going to the store.
            <br><br>
            We're making it simpler to get value out of your stuff in a safe and friendly way with people right on campus.
            Our mission is to make buying and selling easy.
            <br><br>
            <!--
            To sell, simply log in via Facebook (or create a non-Facebook account) and upload a picture and description of that old desk lamp.
            Set a price, and share the post with people you know.
            Then, interested buyers will shoot you a message to your registered e-mail inbox as well as your website account to arrange a meet to take it off your hands.
            <br><br>
            Conversely, if you're looking to buy something, just create an account,
            and filter and search for what you want. When you find something, just click the "buy/contact" button to arrange the pickup.

            <br><br>
            -->
            As a new and evolving site, we are very open to hear what you think. Please direct any suggestions, questions, criticisms or death threats to feedback@buynear.me.
            <br><br>
            Best Regards,<br>
            BuyNearMe Team
        </p>
      </div>

    </div>
{% endblock %}

{% block post_js %}
  <script type="text/javascript">
    //$(".side-icon").hide();
    //$("#about-icon").show();
    $('#about-link').css('color', 'black');
    $('#about-link').css('text-decoration', 'none');
    $('#about-link').css('cursor', 'default');
    $('#about-link').click(function(e) {
      e.preventDefault();
    });
  </script>
{% endblock %}
