{% extends "base.html" %}

{% block head %}
<link href="{{ STATIC_URL }}css/about.css" rel="stylesheet" type="text/css">
{% endblock %}
{% block url_metadata %}
    <meta property="og:url" content="http://buynear.me{% url about %}"/>
{% endblock %}


{% block extra_css %}

{% endblock %}
{% block sidebar %}
<div class="sidebar-container">
  <div class="row">
    <div class="well sidebar-nav about-nav span3" style="background-color:white">
      <ul class="nav nav-list">
        <li class="about-heading"><h2>About</h2></li>
        <li class="side-item"><h4><a id="about-link" href="{% url about %}">What We Do</a></h4></li>
        <li class="side-item"><h4><a id="how-it-works-link" href="{% url how_it_works %}">How It Works</a></h4></li>
        <li class="side-item"><h4><a id="team-link" href="{% url team %}">Team</a></h4></li>
        <li class="side-item"><h4><a id="jobs-link" href="{% url jobs %}">Jobs</a></h4></li>
        <li class="side-item"><h4><a id="privacy-link" href="{% url privacy %}">Privacy Policy</a></h4></li>
        <li class="side-item"><h4><a id="terms-link" href="{% url terms %}">Terms</a></h4></li>
        <!--li class="side-item"><h4><a id="link5" href="{% url faq %}">FAQ</a></h4></li>
        <li class="side-item"><h4><a id="link6" href="{% url testimonials %}">Testimonials</a></h4></li>
        <li class="side-item"><h4><a id="link7" href="{% url timeline %}">Timeline</a></h4></li-->
      </ul>
    </div><!--/.well -->

{% comment %}
    <div class="sidebar-container">
        <div class="row">
            <div class="accordion about-sidebar-nav span3" id="accordion1">
                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseOne">
                            <h3>BuyNearMe</h3>
                        </a>
                    </div>
                    <div id="collapseOne" class="accordion-body collapse">
                        <div class="accordion-inner about-inner">
                            <ul class="unstyled">
                                <li class="about-item">
                                    <i id="about-icon" class="icon-ok-sign side-icon cat-icon" type="hidden"></i>
                                    <a href="{% url about %}">About Us</a>
                                </li>
                                <li class="about-item">
                                    <i id="privacy-icon" class="icon-ok-sign side-icon cat-icon" type="hidden"></i>
                                    <a href="{% url privacy %}">Privacy Policy</a>
                                </li>
                                <li class="about-item">
                                    <i id="terms-icon" class="icon-ok-sign side-icon cat-icon" type="hidden"></i>
                                    <a href="{% url terms %}">Terms</a>
                                </li>
                                <li class="about-item">
                                    <h4 style="margin-top:5px; margin-bottom:5px; font-weight:700;">Coming Soon:</h4>
                                </li>
                                <li class="about-item">
                                    <i id="how-it-works-icon" class="icon-ok-sign side-icon cat-icon" type="hidden"></i>
                                    <!--a href="{% url how_it_works %}">How It Works</a-->How it Works
                                </li>
                                <li class="about-item">
                                    <i id="faq-icon" class="icon-ok-sign side-icon cat-icon" type="hidden"></i>
                                    <!--a href="{% url faq %}">FAQ</a-->FAQ
                                </li>
                                <li class="about-item">
                                    <i id="testimonials-icon" class="icon-ok-sign side-icon cat-icon" type="hidden"></i>
                                    <!--a href="{% url testimonials %}">Testimonials</a-->Testimonials
                                </li>
                                <li class="about-item">
                                    <i id="team-icon" class="icon-ok-sign side-icon cat-icon" type="hidden"></i>
                                    <!--a href="{% url team %}">Team</a-->Team
                                </li>
                                <li class="about-item">
                                    <i id="timeline-icon" class="icon-ok-sign side-icon cat-icon" type="hidden"></i>
                                    <!--a href="{% url timeline %}">Timeline</a-->Timeline
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
{% endcomment %}

{% endblock %}

{% block after_content %}
  </div>
</div>
{% endblock %}
