{% extends "base.html" %}

{% block title %}BuyNearMe - Browse{% endblock %}

{% block head %}
  {% load static %}
  <!-- Styles -->
  <style type="text/css">
    .navbar-inner {
        min-width: 1150px;
    }
  </style>
{% endblock %}

{% block url_metadata %}
  <meta property="og:url" content="http://buynear.me/browse/"/>
{% endblock %}

{% block voteSTC %}{% endblock %}

{% block sidebar %}
     <!--div id="voteSTC2013" style="background-color: #dddddd; height: 30px; padding: 3px; border-bottom:#d0d0d0 1px solid; margin-top: -15px;">
        <center style="margin: 0; padding: 0; padding-top: 5px; font-family: 'Source Sans Pro', sans-serif;">
          <a style="font-size: 19px;" onclick="window.open(this.href); return false;" 
onkeypress="window.open(this.href); return false;" href="http://www.surveygizmo.com/s3/1208804/STC-Web-App-Competition-2013-The-People-s-Choice-Awards">
          Please support us by voting BuyNearMe in the STC Web App Competition! Click Here!
          </a>
        </center>
      </div-->
<div class="sidebar-container">
  <div class="row">
    <div class="accordion box-nav span3" id="accordion1">

      <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle filter" data-toggle="collapse" data-parent="#accordion1" href="#collapseOne">
            <div class="accordion-title">CATEGORY <i class="icon-chevron-down accordion-toggle-icon"></i></div>
          </a>
        </div>
        <div id="collapseOne" class="accordion-body collapse">
          <div class="accordion-inner">
            <ul class="unstyled">
              <li id="Everything-category" class="side-item category" onclick="setCategory('Everything'); runloadBox(true);">
                <div id="Everything_category" class="side-text">Everything</div>
              </li>
              {% for cat in cc_cats %}
                {% if cat.name != "Other" %}
                <li id="{{ cat.name }}-category" class="side-item category" onclick="setCategory('{{cat.name}}'); runloadBox(true);">
                  <div id="{{cat.name}}_category" class="side-text">{{cat.name}}</div>
                </li>
                {% endif %}
              {% endfor %}
              <li id="Other-category" class="side-item category" onclick="setCategory('Other'); runloadBox(true);">
                <div id="Other_category" class="side-text">Other</div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    
      <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle filter" data-toggle="collapse" data-parent="#accordion1" href="#collapse2">
            <div class="accordion-title">SORT <i class="icon-chevron-down accordion-toggle-icon"></i></div>
          </a>
        </div>
        
        <div id="collapse2" class="accordion-body collapse">
          <div class="accordion-inner">
            <ul class="unstyled">
              <li id="dateNew-li" class="side-item sort" onclick="setOrder('dateNew'); runloadBox(true);">
                <div class="side-text order-text">Date: Newest First</div>
              </li>
              <li id="priceLow-li" class="side-item sort" onclick="setOrder('priceLow'); runloadBox(true);">
                <div class="side-text order-text">Price: Lowest First</div>
              </li>
              <li id="priceHigh-li" class="side-item sort" onclick="setOrder('priceHigh'); runloadBox(true);">
                <div class="side-text order-text">Price: Highest First</div>
              </li>
            </ul>
          </div>
        </div>  
      </div>

      {% if user.get_profile.facebook_id %}
      <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle filter" data-toggle="collapse" data-parent="#accordion1" href="#collapse3">
            <div class="accordion-title">CONNECTIONS <i class="icon-chevron-down accordion-toggle-icon"></i></div>
          </a>
        </div>
        <div id="collapse3" class="accordion-body collapse">
          <div class="accordion-inner">
            <ul class="unstyled">
              <li id="friends-li" class="side-item" onclick="toggleFriendsFilter();">
                <div class="side-text"/> Friends Only </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      {% endif %}

      <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle filter" data-toggle="collapse" data-parent="#accordion1" href="#collapse4">
            <div class="accordion-title">PRICE <i class="icon-chevron-down accordion-toggle-icon"></i></div>
          </a>
        </div>
        <div id="collapse4" class="accordion-body collapse">
          <div class="accordion-inner">
            <ul class="unstyled">
              <li class="side-item price-filter">
                <div class="form-inline price-box">
                  <input id="min" type="text" class="input-mini" placeholder="Low"> ~
                  <input id="max" type="text" class="input-mini" placeholder="High" style="margin-right:8px;">
                  <i id="price-go" class="icon-arrow-right price-icon" type="submit" class="submit" onclick="runloadBox(true);"></i>
                  <i id="price-cancel" class="icon-remove price-icon" type="submit hidden" onclick="priceboxCancel(); runloadBox(true);"></i>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div><!--span-->
{% endblock %}

{% block content %}
    <div id="box" class="span12 offset3">
      <!-- Box -->
    </div>
    
  </div>
</div><!-- end sidebar -->

<div id="pac-ajax">
  <h4 style="color:white">Loading . . . <img src="{{ STATIC_URL }}images/pacman-ajax-flipped.gif" style="" /> </h4>
</div>

  <form style="display: none;" id="session">
   <textarea id="sfield">3</textarea>
  </form>

  <form style="display: none;" id="session">
   <textarea id="sfield_scroll">3</textarea>
  </form>
  

{% endblock %}


{% block post_js %}

<script type="text/javascript">
  $(document).ready(function() {  
    /*****************************/
    
    setCategory("Everything");
    $('#dateNew-li').addClass("active");
    runloadBox(false, true);
    
    /*****************************/
	
    $(window).scroll(function(){
      if($(window).scrollTop() + $(window).height() >= $(document).height()) {
        page++;
        runloadBox(false);
      }
    });
    
    $("#min").keypress(function(e) {
      if(e.which == 13) {
        runloadBox(true);
      }
    });
    
    $("#max").keypress(function(e) {
      if(e.which == 13) {
        runloadBox(true);
      }
    });
    
    $(window).on('unload', function(){
      localStorage["scroll"] = JSON.stringify($(window).scrollTop());
    });
    
    
    
    $(".navbar").addClass("navbar-fixed-top");
    $("body").css("padding-top","+=70px");
    $(".navbar .container").css("min-width","97%");

    $("#searchbarform").attr("action","javascript: runloadBox(true);");
    $("#search-go-nav").attr("onclick", "runloadBox(true)");

    {% if q %}
      //if query exists, keep at the top
      document.getElementById('searchbar').value = "{{ q }}";
    {% endif %}
    
  /*
    if($.cookie('onpost') === 't'){
       in_restore = 1;
       $.cookie('onpost',null);
       $.cookie('onpost','f', { expires: 1, path: '/' } );
       restore();
    } else{
        clear_restore();
        runloadBox();
    }
  */
  });
  
  /*
  var in_restore = 0;
  var ogrid,old_obj,scraps,oflags;
  scraps=[];
  oflags="";*/
  var cat_object = {};
  var circ_object = {};
  var categories = [];
  var circles = [];
  //var filtering_by_friends = false;


  /*var numx = 4;
  var heights = new Array();
  for(var i = 0; i < numx; i++){
    heights[i] = 0;
  }*/
  
  {% for entry in cc_cats %}  //all categories and circles are initially false
    categories.push("{{entry.name}}")
  {% endfor %}
  for (index in categories) {
    cat = categories[index];
    cat_object[cat] = false;
  }

  {% for entry in cc_circs %}  //circles
    circles.push("{{entry.id}}")
  {% endfor %}
  for (index in circles) {
    circ = circles[index];
    circ_object[circ] = false;
  }  

  /*function scats(input){
    var ii = 0;
    var cat;
    for(i in categories){
        cat = categories[i];
        if((1<<ii)&input){
            if(!cat_object[cat]) toggler(categories[i] + "-li");
            cat_object[cat] = true;
        }
        else{
            if(cat_object[cat]) toggler(categories[i] + "-li");
            cat_object[cat] = false;
        }
        ii = ii + 1;
    }
  }
  
  function scircs(input){
    var ii = 0;
    var circ;
    for(i in circles){
        circ = circles[i];
        if((1<<ii)&input){
            if(!circ_object[circ]) toggler(circles[i] + "-icon");
            circ_object[circ] = true;
        }
        else{
            if(circ_object[circ]) toggler(circles[i] + "-icon");
            circ_object[circ] = false;
        }
        ii = ii + 1;
    }
  }
  
  function gcats(){
    var k = 0; 
    var j = -1;
    for(i in categories){    
      j=j+1;
      var cat = categories[i];
      if(cat_object[cat] == true){
        k=k+(1<<j);
      }
    }
    return k;
  }

  function gcircs(){
    var k = 0; 
    var j = -1;
    for(i in circles){    
      j=j+1;
      var circ = circles[i];
      if(circ_object[circ] == true){
        k=k+(1<<j);
      }
    }
    return k;
  }*/
  
  function num2cat(num) {  //takes in number, spits out category string.
    {% for cat in cc_cats %}
      if(num == {{cat.pk}}) {
        return "{{cat.name}}";
      }
    {% endfor %}
    return "whoops";
  }
  
  function cat2num(cat_name) { //takes in a category name, and returns category pk
    {% for cat in cc_cats %}
      if(cat_name == "{{cat.name}}") {
        return {{cat.id}};
      }
    {% endfor %}
    return "whoops";
  }
  
  /*function cir2num(cir_name) { //takes in a category name, and returns category pk
    {% for cir in cc_circs %}
      if(cir_name == "{{cir.name}}") {
        return {{cir.id}};
      }
    {% endfor %}
    return "whoops";
  }

  function switchCat(category) {  //sets all categories to false first, then sets specific one to true.
    for(cat in cat_object) {
      cat_object[cat] = false;
    }
    cat_object[category] = true;
  }

  function allCat() {
    for(cat in cat_object) {
      cat_object[cat] = true;
    }
  }

  function getCats() {
    var hasTrue = false;
    var cat_object2 = {};
    for (index in categories) {  //checks if any categories are "checked", if not, returns as all true object
      cat = categories[index];
      if(cat_object[cat]) {
        hasTrue = true;
      }
    }
    if(hasTrue) { //this will always be true since a category must be clicked now
      return cat_object;
    } else {
      for (index in categories) {
        cat = categories[index];
      }
      return cat_object2;
    }
  }


  function switchCirc(circle) {  //run on click, switches boolean
    circ_object[circle] = !circ_object[circle];
  }*/

  //Gives me error if i take it out?
  function getCircs(){
    var hasTrue = false;
    var circ_object2 = {};
    for (index in circles) {  //checks if any categories are "checked", if not, returns as all true object
      circ = circles[index];
      if(circ_object[circ]) {
        hasTrue = true;
      }
    }
    if(hasTrue) {
      return circ_object;
    } else {
      for (index in circles) {
        circ = circles[index];
        circ_object2[circ] = true;
      }
      return circ_object2;
    }
  }

  //be careful with order values, they get passed to server
  //var order = 'dateNew';
  

  //sort order assigner. UI change AND server notifier
  /*function selectOrder(newOrder) {
    order = newOrder //assigned to make server filter properly
    $('.side-item.sort').removeClass("active");
    $('#'+newOrder+"-li").addClass("active");        //html ids for icons equivalent to the order values
  }*/

  /*function toggle_friends_filter(){
    filtering_by_friends = !filtering_by_friends;
    if (filtering_by_friends) {
        $("#friends-li").addClass("active");
    } else {
        $("#friends-li").removeClass("active");
    }
    runloadBox(current_page);
  }*/
</script>
{% endblock %}

{% block footer %}{% endblock %}