<html>
<head>
</head>
<body>



<div id="fb-root"></div><!--pop-up for FB-->


<script src="{{ STATIC_URL }}js/facebook.js" type="text/javascript"></script>
 <!--script type='text/javascript'>

    facebookAppId = '{{ FACEBOOK_APP_ID }}';
    facebookDefaultScope = {{ FACEBOOK_DEFAULT_SCOPE_JS }};
    staticUrl = '{{ STATIC_URL }}';

    function facebookJSLoaded(){
        FB.init({appId: facebookAppId, status: false, cookie: true, xfbml: true, oauth: true});
    }

    window.fbAsyncInit = facebookJSLoaded;
    F = new facebookClass(facebookAppId);
    F.load();


    function deleteRequest(requestId) {
        FB.api(requestId, 'delete', function(response) {
            console.log(response);
        });
    }

    function RemoveRequest( requestToRemoveID, facebookUserID )
    {
        requestToRemoveID = '/'+requestToRemoveID + '_' + facebookUserID;
        console.log( requestToRemoveID );

        FB.api( requestToRemoveID, 'DELETE', function(response) {
            console.log(response);
        });
    }

    {% for request in request_ids %}
    deleteRequest({{ request }});
    {% endfor %}
    window.location.assign('http://buynear.me');

 </script-->

<script type='text/javascript'>
    top.location.href = 'http://buynear.me';
</script>


</body>
</html> 

