<html>
<head>
</head>
<body>
<div id="fb-root"></div><!--pop-up for FB-->
<script src="http://connect.facebook.net/en_US/all.js"></script>
 <script type='text/javascript'>

    function deleteRequest(requestId) {
        FB.api(requestId, 'delete', function(response) {
            console.log(response);
        });
    }

    function RemoveRequest( requestToRemoveID, facebookUserID )
    {
        requestToRemoveID = '/'+requestToRemoveID + '_' + facebookUserID;
        console.log( requestToRemoveID );

        FB.api( requestToRemoveID, 'DELETE', function(response) {
            console.log(response);
        });
    }

    {% for request in request_ids %}
    RemoveRequest({{ request }}, );
    {% endfor %}
    window.location.assign('http://buynear.me');

 </script>

</body>
</html> 

