{% extends "base.html" %}

{% block title %}Buy Near Me - Contact{% endblock %}
{% block sidebar %} {% endblock %}
{% block extra_css %}

{% endblock %}
{% block content %}

    <div id="signup-container" class="container">
        <div id="signup-box" class="span12">


            <div class="small-title">
                <h2>Contact Us</h2>
            </div>


            <div class="small-body" style="padding-bottom: 20px;">
                <p>
                    If you have any questions or concerns please email us at <a href="mailto:contact@buynear.me?subject=Contact">contact@buynear.me</a>
                </p>
            </div>
        </div>
    </div>

{% endblock %}
