{% extends "base.html" %}

{% block title %}BuyNearMe - Sell Item{% endblock %}

{% block url_metadata %}
    <meta property="og:url" content="http://buynear.me/sell/"/>
{% endblock %}

{% block head %}
<style type='text/css'>
label.error {
 float: none;
 color: red;
 padding-left: .5em;
 vertical-align: top;
 }

 </style>
{% load static %}
<link rel="stylesheet" href="{% get_static_prefix %}css/chosen.css" />
<link rel="stylesheet" href="{% get_static_prefix %}bootstrap/css/bootstrap-fileupload.min.css" />
{% endblock %}
{% block sidebar %}{% endblock %}

{% block content %}
    
<div id="signup-container" class="container">
  <div id="signup-box" class="span12">

  <div class="small-title">
    <h2> Sell Item</h2>
  </div>
    
  <div class="small-body">
  {% if no_circles %}
  <p style="color:red">
      You haven't named your <a href="{% url account_circles %}">location</a> yet so you can't sell anything!<br><br>
  </p>
  {% endif %}
  <form action="."  method="POST" class="form-horizontal" id="sellForm" enctype="multipart/form-data">{% csrf_token %}
  <div id="fields form">
    {% load widget_tweaks %}
    {% for field in form %}
    
    {% if specificCircleName and field.html_name == "circles" %}
      <div class="control-group">
        {{ field.errors }}
        <label class="control-label">Group</label>
        <div class="controls">
          {{ field }}
          <input value="{{ specificCircleName }}" readonly>
          <span class="help-block"> Group can't be changed when posting from within a private group</span>
        </div>
      </div>
      <!-- do nothing, circle is already filled out -->
      {% else %}
        {% if field.html_name == "post_to_ffs" %}
            <!-- Do Nothing, Form below -->
        {% else %}
          <div class="control-group">
            {{ field.errors }}
            <label class="control-label" id="{{field.html_name}}">{{ field.label }}</label>
            {% if field.html_name == "price" %}
            <div class="controls" style="padding-left:0px">
            {% else %}
            <div class="controls">
            {% endif %}
                {% if field.html_name == "category" %}
                    {{ field|attr:'class="chzn-select" data-placeholder="Choose a Category..." required' }}
                {% elif field.html_name == "price" %}
                  $ {{ field }}
                {% else %}
                    {{ field }}
                {% endif %}
              <span class="help-block">{{ field.help_text|safe }}</span>
            </div>
          </div>
        {% endif %}
      {% endif %}
    {% endfor %}

    {% if is_facebook %}
        <div class="control-group">
            <label class="control-label">Facebook Groups</label>
            <div class="controls" style="margin-top:10px;">
            <select name="fb_groups" data-placeholder="Share with your Facebook Groups..." style="width: 224px;" multiple class="chzn-select" tabindex="7">
                <option value="" selected="selected"></option>
                {% for group in fb_groups %}
                    {% if group.name == "Free & For Sale" %}
                        <option value="{{ group.facebook_id }}" selected="selected">{{ group.name }}</option>
                    {% else %}
                        <option value="{{ group.facebook_id }}">{{ group.name }}</option>
                    {% endif %}
                {% endfor %}
            </select>
            </div>
        </div>
    {% endif %}

      <div class="control-group">
          <label class="control-label" id="images">Upload Images</label>
          <div class="controls">
              <div class="fileupload fileupload-new" data-provides="fileupload">
                  <div class="fileupload-new thumbnail" style="width: 50px; height: 50px;">
                      <img src="http://www.placehold.it/50x50/EFEFEF/AAAAAA" />
                  </div>
                  <div class="fileupload-preview fileupload-exists thumbnail" style="width: 50px; height: 50px;"></div>
                  <span class="btn btn-file">
                      <span class="fileupload-new">Select image</span>
                      <span class="fileupload-exists">Change</span>
                      <input type="file" name="images" />
                  </span>
                  <a href="#" class="btn fileupload-exists" data-dismiss="fileupload">Remove</a>
              </div>
          <span id="upload-images"> </span>
          <span class="help-block upload-more"><a style="cursor: pointer;">Click here to upload more images</a></span>
          <span class="help-block after-image">The first uploaded photo will be the thumbnail</span>
          </div>
      </div>

  </div>
  <br />
  
  <input id="submit" type="submit" class="btn btn-primary" type="button" data-loading-text="Submitting..." value="Submit">
  <img id="ajax-loader" style="display: none;" src="/static/ajax-loader.gif" />
  <br><br>
  </form>
  
  </div>
  
  </div>
</div>
{% endblock %}

{% block post_js %}

<script type="text/javascript" src="{% get_static_prefix %}jquery-validation-1.9.0/jquery.validate.min.js"></script>
<script type="text/javascript" src="{% get_static_prefix %}bootstrap/js/bootstrap-fileupload.min.js"></script>
<script src="{% get_static_prefix %}js/chosen.jquery.js" type="text/javascript"></script>
<script type="text/javascript">
    $(".chzn-select").chosen();
</script>
<script type="text/javascript">
var uploadImageCounter = 1;

$(document).ready(function(){
    $("#sellForm").validate({
      ignore: ":hidden:not(select)",
      rules: {
        title: {
          required: true,
          maxlength: 75
        },
        body: {
          required: true
        },
        price: {
          required: true,
          number: true,
          min: 0
        },
        category: {
          required: true
        }
      },
      submitHandler: function() {
        $("#ajax-loader").show();
        $("#submit").button('loading');
        $(form).ajaxSubmit();
      }
    });


    // require price only has 2 decimals
    (function($) {
        $.fn.currencyFormat = function() {
            this.each( function( i ) {
                $(this).change( function( e ){
                    if( isNaN( parseFloat( this.value ) ) ) return;
                    if (this.value.split(".").length >1) {
                      this.value = parseFloat(this.value).toFixed(2);
                    }
                });
            });
            return this; //for chaining
        }
    })( jQuery );
    
    $( function() {
        $('#id_price').currencyFormat();
    });
    // end price validation
    
    // add * to required fields
    /**
    var required = ['title','body','price','category','circles'];
    for (index in required) {
      try {
        document.getElementById(required[index]).innerHTML += '*';
        document.getElementById(required[index]).style.fontWeight = 'bold';
      } catch (err) {}
    }
    **/

  });
  
  {% if specificCircleName %}
  $(document).ready( function() {
    $('#id_circles').attr('style','visibility:hidden;position:absolute')
  })
  {% endif %}
  
  $(".upload-more").click(function(){
        var new_upload_html = '<div class="fileupload fileupload-new" data-provides="fileupload">'+
              '<div class="fileupload-new thumbnail" style="width: 50px; height: 50px; margin-right: 5px;">'+
              '<img src="http://www.placehold.it/50x50/EFEFEF/AAAAAA" />'+
              '</div>'+
              '<div class="fileupload-preview fileupload-exists thumbnail" style="width: 50px; height: 50px;"></div>'+
              '<span class="btn btn-file">'+
              '<span class="fileupload-new">Select image</span>'+
              '<span class="fileupload-exists">Change</span>'+
              '<input type="file" name="images" />'+
              '</span>'+
              '<a href="#" class="btn fileupload-exists" data-dismiss="fileupload">Remove</a>'+
              '</div>'
        $("#upload-images").append(new_upload_html)
      uploadImageCounter += 1;
      if (uploadImageCounter == 3){
          $(this).remove();
          var max_images = '<br>Maximum 3 images'
          $(".after-image").append(max_images)
      }
    })

</script>
{% endblock %}

