{% extends "base.html" %}

{% block title %}Approve FB Posts{% endblock %}

{% block head %}

<!-- Styles -->
<style type="text/css">
    .checkId {
        cursor: pointer;
    }
</style>
<script type="text/javascript">
    checked=false;
    function checkedAll (fb_groups_form) {
        var aa= document.getElementById('fb_groups_form');
        if (checked == false)
        {
            checked = true
        }
        else
        {
            checked = false
        }
        for (var i =0; i < aa.elements.length; i++)
        {
            aa.elements[i].checked = checked;
        }
    }
</script>
{% endblock %}

{% block content %}

<form id="fb_groups_form" method="post" action="." >
{% csrf_token %}
    {{ formset.management_form }}

    <div id="createGroupBanner">
        <h3> Approve Facebook Posts</h3>
    </div>

    <div class="container" style="width:950px; margin-top: 20px;">

        <div id="fbAdmin">
            {% if formset %}
                <input value="Submit" type="submit" class="btn btn-primary btn-large" style="margin-top: 20px; width: 450px;">
            {% endif %}
            <table class="table table-bordered">

                <caption><h2> New items </h2></caption>
                <thead>
                <tr>
                    <th> View </th>
                    <th> Title </th>
                    <th style="width:10px"> Price </th>
                    <th> Category </th>
                    <th> Approved <input type='checkbox' name='checkall' onclick='checkedAll(fb_groups_form);'></th>
                </tr>
                </thead>
                <tbody>

                {% if formset %}
                {% load widget_tweaks %}
                {% for form in formset %}
                    <tr>
                        {{ form.id }}
                        <td> <a href="/{{ form.instance.pk }}">link </a> </td>
                        <td> {{ form.title }} </td>
                        <td> {{ form.price|attr:"style:width:70px" }} </td>
                        <td> {{ form.category }} </td>
                        <td> {{ form.approved }} </td>
                        {{ form.itemforsale_ptr }}
                    </tr>
                {% endfor %}

                {% elif approved_items %}
                    {% for item in approved_items %}
                    <tr>
                        <td><a href="{{ item.get_absolute_url }}">link</a></td>
                        <td> {{ item.title|truncatechars:30 }} </td>
                        <td> {{ item.price }} </td>
                        <td> {{ item.category }} </td>
                        <td> {{ item.approved }} </td>
                    </tr>
                    {% endfor %}
                {% endif %}

                </tbody>
            </table>
            <!--h2>Approve new items</h2>
            {% if new_items %}
                {% for item in new_items %}
                    <div style="padding-bottom: 4px;">
                        <input type="checkbox" id="id_{{ item.id }}" name="fbPostId" value="{{ item.id }}" style="margin-top: -2px;">
                        <span id="{{ item.id }}" class="checkId">{{ item.title }}</span><br>
                    </div>
                {% endfor %}
            {% else %}
                <p> No new items need to be approved</p>
            {% endif %}-->
        </div>

        <!--div id="fbOldGroup">
            <h2>Approved items</h2-->
    </div>

</form>

<div style="clear:both"></div>

    {% if old_items %}
    <div class="container" style="width:950px; margin-top: 20px;">

        <div id="fbAdmin 2">
            <table class="table table-bordered">

                <caption><h2> Old FB items to be deleted </h2></caption>
                <thead>
                <tr>
                    <th> View </th>
                    <th> Title </th>
                    <th style="width:10px"> Price </th>
                    <th> Category </th>
                    <th> Approved </th>
                </tr>
                </thead>
                <tbody>

                {% load widget_tweaks %}
                {% for item in old_items %}
                    <tr>
                        <td><a href="{{ item.get_absolute_url }}">link</a></td>
                        <td> {{ item.title|truncatechars:30 }} </td>
                        <td> {{ item.price }} </td>
                        <td> {{ item.category }} </td>
                        <td> {{ item.approved }} </td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>
        </div>
    </div>
    {% endif %}

{% endblock %}



