{% extends "about_base.html" %}

{% block title %}BuyNearMe - How It Works{% endblock %}

{% block content %}
        <div id="about-box" class="span11">

            <div class="small-title">
                <h2>How It Works</h2>
            </div>


            <div class="small-body how-it-works" style="padding-bottom: 10px;">
                <h3>Buying:</h3>
                <img src="{{ STATIC_URL }}images/how_it_works/browse.jpg" />
                <p>
                See an item that tickles your fancy? Click on it, and it will take you to the item’s description page.
                </p>
                <img src="{{ STATIC_URL }}images/how_it_works/view_item.jpg" />
                <p>
                If you would like to know more about the item, feel free to leave a question for the seller in the comments section below.
                If you would like to buy the item, hit the “Buy Now” button, which will pull up a message box.
                </p>
                <img src="{{ STATIC_URL }}images/how_it_works/message_seller.jpg" />
                <p>
                Once you hit the “Buy” button, you will have claimed the item, and can now message the seller to arrange a time to meet
                and make the transaction.
                <br><br>
                Voila!
                </p>

                <h3>Selling:</h3>
                <p>
                If you would like to post an item to BuyNearMe, hit the “Sell” button at the navigation bar on the top of the screen.
                This will bring you to a form which you can use to flesh out the details of your listing.
                </p>
                <img src="{{ STATIC_URL }}images/how_it_works/sell_item.jpg" />
                <p>
                Fill out a title, description, price, category, and other details. Once you are happy with the details of the listing,
                hit the “Submit” button at the bottom of the form to complete the post.
                </p>
                <img src="{{ STATIC_URL }}images/how_it_works/sell_item2.jpg" />
                <p>
                Now your item is posted to BuyNearMe, and all you have to do is sit back and wait!
                We will notify you through the site and through e-mail when someone has claimed the item.
                <br><br>
                Wasn’t that easy?
                </p>
            </div>
        </div>
{% endblock %}

{% block post_js %}
  <script type="text/javascript">
    //$(".side-icon").hide();
    //$("#about-icon").show();
    $('#how-it-works-link').css('color', 'black');
    $('#how-it-works-link').css('text-decoration', 'none');
    $('#how-it-works-link').css('cursor', 'default');
    $('#how-it-works-link').click(function(e) {
      e.preventDefault();
    });
  </script>
{% endblock %}