{% extends "base.html" %}

{% block title %}BuyNearMe{% endblock %}
{% block sidebar %}{% endblock %}
{% block extra_css %}
body{
  background-image: url("/static/cream_dust.png");

}
{% endblock %}

{% block navbar %}
{% if request.user.is_authenticated %}
  <li><a style="color: #6f6f6f;cursor: default;"> Hi, {{ request.user.first_name }}! </a></li>
{% endif %}
{% endblock %}

{% block content %}
<div id="top-banner">
  <div id="banner-text" class="container">
    <h1>Buying and selling never felt so good</h1>
    <h2>Find and share items within Berkeley</h2>
  </div>   
</div>

<div id="why-us" class="container row">
  <div id="why-text">
    <h3 style="font-size:22pt"> Find whatever you need from the people around you. Easy.</h3>
  </div>
  <div style="float:left; padding-top:16px;">
    <a class="btn btn-primary btn-large" style="width:100px" href="{% url browse %}"> Browse Now</a>
    <a class="btn btn-success btn-large" style="width:100px" href="/sell/">Sell Item</a>
  </div>
</div>

<section id="learn">
<div id="low-banner" >
    <div class="row-fluid container index-row">
      <div class="span3">
          <h2>Login</h2>
          <p>See what your friends are offering by logging in with your Facebook.</p>
        </div>

      <div class="span3">
          <h2>Browse</h2>
          <p>View and find items quickly and easily.</p>
      </div>
      <div class="span3">
          <h2>Buy</h2>
          <p>Buy an item and claim it forever. Exchange messages to collect your item.</p>
      </div>
      <div class="span3">
          <h2>Sell</h2>
          <p>No more hassle haggling with buyers or
              messaging multiple people at once</p>
      </div>

    </div>
</div>
</section>

<!-- <div id="low-banner" >
  <div class="container">
    <div class="row-fluid index-row">
      <div class="span3 index-border">
        <div class="index-box-text">
          <h2>Sell to people you trust</h2>
          <p>Invite your friends from Facebook so you have a more focused area to trade.</p>
        </div>
      </div>
      <div class="span3 index-border">
        <div class="index-box-text">
          <h2>Join and create groups</h2>
          <p>You can create public or private groups for you to sell within your preferred community.</p>
        </div>
      </div>
      <div cla`ss="span3 index-border">
        <div class="index-box-text">
          <h2>Find what you want</h2>
          <p>Easy to use interface makes browsing a breeze.</p>
        </div>
      </div>
      <div class="span3 index-border">
        <div class="index-box-text">
          <h2>sdfsdf</h2>
          <p>Easy to use interface makes browsing a breeze.</p>
        </div>
      </div>
    </div>
  </div>
</div> -->


{% endblock %}
