{% extends "base.html" %}

{% block title %}Buy Near Me{% endblock %}
{% block sidebar %}{% endblock %}
{% block extra_css %}
body{
  background-image: url("/static/cream_dust.png");

}
{% endblock %}
{% block content %}
<div id="top-banner">
  <div id="banner-text">
    <h1>Buying and selling never felt so good</h1>
    <h2>Find and share items with friends and classmates</h2>
  </div>   
</div>

<div id="why-us" class="row">
  <div id="why-text" >
    <h3 style="font-size:22pt"> Find whatever you need from the people around you. Easy.</h3>
  </div>
  <div style="float:left; padding-top: 16px; ">
    <a class="btn btn-primary btn-large" href="{% url browse %}"> Browse Now </a>
      {% if not request.user.is_authenticated %}
    <a class="btn btn-success btn-large" style="" href="/accounts/register">Sign Up</a>
      {% endif %}
  </div>
</div>

<section id="learn">
<div id="low-banner" >
    <div class="row-fluid container index-row">
      <div class="span3">
          <h2>Login</h2>
          <p>See what your friends are offering by logging in with your Facebook.</p>
        </div>
      <div class="span3">
          <h2>Where are you?</h2>
          <p>Tell us where you are to buy and sell from people at your school and local area.</p>
      </div>
      <div class="span3">
          <h2>Browse</h2>
          <p>View items and exchange messages with the seller to collect your item.</p>
      </div>
      <div class="span3">
          <h2>Sell</h2>
          <p>Tell your friends and share what you're selling.</p>
      </div>
    </div>
</div>
</section>

<!-- <div id="low-banner" >
  <div class="container">
    <div class="row-fluid index-row">
      <div class="span3 index-border">
        <div class="index-box-text">
          <h2>Sell to people you trust</h2>
          <p>Invite your friends from Facebook so you have a more focused area to trade.</p>
        </div>
      </div>
      <div class="span3 index-border">
        <div class="index-box-text">
          <h2>Join and create groups</h2>
          <p>You can create public or private groups for you to sell within your preferred community.</p>
        </div>
      </div>
      <div cla`ss="span3 index-border">
        <div class="index-box-text">
          <h2>Find what you want</h2>
          <p>Easy to use interface makes browsing a breeze.</p>
        </div>
      </div>
      <div class="span3 index-border">
        <div class="index-box-text">
          <h2>sdfsdf</h2>
          <p>Easy to use interface makes browsing a breeze.</p>
        </div>
      </div>
    </div>
  </div>
</div> -->


{% endblock %}
