{% extends "base.html" %}

{% block title %}BuyNearMe{% endblock %}
{% block sidebar %}{% endblock %}
{% block extra_css %}
{% endblock %}

{% block navbar %}
{% if request.user.is_authenticated %}
    <li xmlns="http://www.w3.org/1999/html"><a style="color: #6f6f6f;cursor: default;"> Hi, {{ request.user.first_name }}! </a></li>
{% endif %}
{% endblock %}

{% block head %}
    {% load static %}
     <link href="{% get_static_prefix %}css/index.css" rel="stylesheet">
{% endblock %}
{% block content %}
    <style>
        a:hover
        {
            text-decoration: none !important;
        }
    </style>
  <div id="top-banner" style="position: absolute; height: 100%; -webkit-box-shadow: none; box-shadow: none; overflow: hidden">
    <div id="banner-text-container">
      <div id="banner-text" style="margin-top: 17%">
        <!--div class="blob"></div-->
        <h1 style="color: #222; text-shadow: none; font-size: 26px; font-weight: 300; margin-bottom: 20px">Cal's Exclusive Student Marketplace&nbsp;&nbsp;<font style="color: #777">|</font><a href="sell" style="text-decoration: none; color: #0080fc">&nbsp;&nbsp;Sell&nbsp;&nbsp;</a><font style="color: #777">|</font><a href="browse" style="text-decoration: none; color: #0080fc">&nbsp;&nbsp;Buy&nbsp;&nbsp;</a></h1>
        <form action="javascript:search2();">
           <input style="position: absolute; background: #ffffff; font-size: 20px; z-index: 6; box-shadow: 0px; width: 100%; line-height: 25px; border-radius: 0; height: 43px !important; box-shadow:none; margin-top: 0%; border: 1px solid #777;" type="text" class="search-query" placeholder="What would you like to buy? Press enter to search."
                  id="searchhome">
           <!--<button style="margin-top: 0%; background: rgb(0, 135, 210); text-shadow: none; z-index: 6; border: 0px solid rgb(0, 100, 200); font-weight: 300; border-radius: none; height: 51px !important; width: 100px; color: white" class="btn btn-large" onclick="search2();">Search</button>-->
        </form>
        </div>
    </div>
  </div>

<div id="low-banner">
    <div class="row-fluid container index-row">
      <div class="span4">
          <div style="text-align:center;"><i class="icon-group" style="font-size:75px;"></i></div>
          <h2>Community</h2>
          <p>
              Trade with your fellow students and never get stabbed again. Conveniently schedule a meet up on campus.
          </p>
      </div>
      <div class="span4">
          <div style="text-align:center;"><i class="icon-money" style="font-size:75px;"></i></div>
          <h2>Easy Money</h2>
          <p>
              Fatten your wallet and sell all your stuff lying around quickly and easily.
          </p>
      </div>
      <div class="span4">
          <div style="margin-top:-7px; text-align:center;"><i class="icon-mobile-phone" style="font-size:92px;"></i></div>
          <h2 style="margin-top:0px;">Convenience</h2>
          <p>
              Use our mobile website to browse and upload your pictures directly from your smartphone.
          </p>
      </div>
    </div>

{% endblock %}
