{% extends "base.html" %}

{% block title %}Buy Near Me - {{post.title}}{% endblock %}

{% block metadata %}
{% load static %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta name="description" content="{{ post.body }}" />
      <meta name="keywords" content="Buy Near Me,buynear.me,buynearme,social,groups,buy,sell,berkeley,UC Berkeley,friends,buynearme.com" />
      <meta property="og:title" content="{{ post.title }} - ${{ post.price }}"/>
      <meta property="og:type" content="website"/>
      <meta property="og:url" content="http://buynear.me{{ post.get_absolute_url }}" />
      <meta property="og:image" content="http://buynear.me{{ post.get_first_image_url }}"/>
      <meta property="og:site_name" content="Buy Near Me"/>

      <meta property="og:description"
            content="{{ post.body }}"/>
{% endblock %}

{% block head %}
{% endblock %}

{% block sidebar %}{% endblock %}

    {% block content %} 
    
    {% comment %} <!--redudant due to modal -->
    {% if new == 1 and request.user == post.owner %}
    <div id="new-post-alert" class="alert alert-block alert-info fade in container">
    <a class="close" data-dismiss="alert" href="#">&times;</a>
    <b> Item successfully posted! </b>
        <p> 
            You will be notified by email when you are contacted. We recommend you share this on Facebook!
            <a href="#" onclick="return false;"><img class="fb-publish" src="/static/images/fb-icon.gif" /></a>
        </p>
    </div>
    
    <div id="new-post-success" class="alert alert-block alert-info fade in container" style="display:none;">
    <a class="close" data-dismiss="alert" href="#">&times;</a>
    <b> Facebook Share </b>
        <p> 
            The item was successfully shared on your wall!
        </p>
    </div>
    {% endif %}
    {% endcomment %}

    {% if post_ffs == 0 or post_ffs == 1 and request.user == post.owner %}
        <div id="new-post-alert" class="alert alert-block alert-info fade in container">
            <a class="close" data-dismiss="alert" href="#">&times;</a>
            {% if post_ffs == 1 %}
            <b> Item successfully posted to Free & For Sale! </b>
            <p>
                You will be notified by email when you are contacted. <br>
                Share elsewhere with the buttons below!
            </p>
            {% else %}
            <b> Item successfully posted! </b>
            <p>
                You will be notified by email when you are contacted. Unfortunately, we weren't able to post to Free & For Sale.
                <br>Share it using the buttons below!
            </p>
            {% endif %}
            <!-- AddThis Button BEGIN -->
            <div class="addthis_toolbox addthis_default_style addthis_32x32_style">
                <a class="addthis_button_preferred_1"></a>
                <a class="addthis_button_preferred_2"></a>
                <a class="addthis_button_preferred_3"></a>
                <a class="addthis_button_preferred_4"></a>
                <!--a class="addthis_counter addthis_bubble_style"></a-->
            </div>
            <script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
            <script type="text/javascript" src="http://s7.addthis.com/js/300/addthis_widget.js#pubid=ra-512aa338203f9795"></script>
            <!-- AddThis Button END -->
        </div>
    {% endif %}

    <!-- Facebook stuff -->
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

    <div id="post-container" class="container">
    
    <div class="small-title small-title-post">
      <center><h2 id="post-title">{{ post.title }}
          {% if post.sold %}
              <span style="color:red;">(This item has been sold)</span>
          {% elif post.pending_flag %}
              {% if thread and request.user != post.owner %}
                  <span style="color: red">(You are purchasing this item)</span>
              {% else %}
                  <span style="color:red;">(This item is being purchased)</span>
              {% endif %}
          {% endif %}
      </h2></center>
    </div>
    
    <div class="">
    <div class="row post-top">

      <!-- buy now modal -->
      <div class="modal fade hide msg-modal" id="buynow-modal">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><i class="icon-remove"></i></button>
          <h3>Almost there!</h3>
        </div>
        <div class="modal-body">
            <p>Send a message to the seller to hash out the details of your purchase, such as when and where you want to meet up!
                Use the comments to ask the seller a question!</p>
          <textarea class="input-xlarge field span7" id="modal-message" rows="5" placeholder="Can you meet at Dwinelle this Friday at 12pm? Thanks!"></textarea>
            <br>
            <p><b>Note:</b> Once you buy the product, this item will no longer be listed. So please buy accordingly!</p>
        </div>
        <div class="modal-footer">
          <button id="modal-send" class="btn btn-primary" type="button" data-loading-text="Sending...">Buy</button>
          <button class="btn" data-dismiss="modal">Cancel</button>
        </div>
      </div>

      <!-- this modal activates when message is sent -->
      <div class="modal fade hide" id="success-modal">
        <div class="modal-header">
            <button type="button" class="close close-refresh" data-dismiss="modal"><i class="icon-remove"></i></button>
            <h3>Contact</h3>
        </div>
        <div class="modal-body">
            <p> Message Sent!</p>
        </div>
        <div class="modal-footer">
            <button class="btn btn-large close-refresh" data-dismiss="modal">Close</button>
        </div>
      </div>
          
      <div class="span8" style="padding-right:25px;">
        <div class="span8">
          
            <div id="postCarousel" class="carousel slide" {% if post.is_category_image %}style="background-color:white" {% endif %}>
              <!-- Carousel items -->
              <div class="carousel-inner">
                {% if post.is_facebook_post %}
                    <div class="active item">
                        <img src="{{ post.facebookpost.get_picture }}" alt="Item Image"/>
                    </div>
                {% else %}
                {% for image_url in image_set %}
                  {% if image_url == post.get_first_image_url %}
                    <div class="active item">
                      <img src="{{ image_url }}" alt="Item Image"/>
                      <!--<div class="carousel-caption">
                        <p>{{ post.category.name }} : {{ post.time_created }}</p>
                      </div>-->
                    </div>
                  {% else %}
                    <div class="item">
                      <img src="{{ image_url }}" alt="Item Image"/>
                      <!--<div class="carousel-caption">
                        <p>{{ post.category.name }} : {{ post.time_created }}</p>
                      </div>-->
                    </div>
                  {% endif %}
                {% endfor %}
                {% endif %}
              </div>
              <!-- Carousel nav -->
              {% if image_set_length > 1 %}
                <a class="carousel-control left" href="#postCarousel" data-slide="prev">&lsaquo;</a>
                <a class="carousel-control right" href="#postCarousel" data-slide="next">&rsaquo;</a>
              {% endif %}
            </div>
  
        </div>
        
    </div><!-- end row -->
      <div class="span3 post-sidebar">
          <div>
              <ul class="nav nav-list">
                  <li class="nav-header"><h2>Seller:</h2></li>
                  {% if post.owner.get_full_name %}
                      <li><p>{{ post.owner.get_full_name }}</p></li>
                  {% else %}
                      <li><p>{{ post.owner.username }}</p></li>
                  {% endif %}
                  <li class="nav-header"><h2>Price:</h2></li>
                  <li> <p>$  {{ post.price }}<p></li>
                  <li class="nav-header"><h2>Date Added:</h2></li>
                  <li> {{ post.time_created.date }}</li>
                  <li class="nav-header"><h2>Category:</h2></li>
                  <li> {{ post.category.name }}</li>
              </ul>
          </div><!--/.well -->

        <div>
          
         <br>
           {% if post.is_facebook_post %}
               {% if request.user.is_authenticated %}
                   <a class="btn contact-button btn-primary" style="margin-left:-1px;" href="{{ post.facebookpost.post_url }}">View FB Post</a>
               {% else %}
                   <a class="btn contact-button btn-primary" style="margin-left:-1px;" href="/accounts/login/?next={{ post.get_absolute_url }}">Login to Buy</a>
               {% endif %}
               <i class="icon-question-sign tooltips" style="margin-left:5px; margin-top:4px;" rel="tooltips" data-placement="bottom"
                  data-original-title="View the Facebook post connected to this listing on the Facebook group Free & For Sale or Textbook Exchange."></i>
           {% else %}
              {% if request.user.is_authenticated %}
                  {% if post.sold %}
                    {% if post.pending_buyer == request.user %}
                      <br>
                      You bought this item! Hooray!
                    {% else %}
                      <br>
                      This item has been sold and is no longer listed.
                    {% endif %}
                  {% elif post.pending_flag %}
                      {% if thread %}
                        <a href="{{ thread.get_absolute_url }}" class="btn btn-primary">View Messages</a>
                      {% else %}
                        <br>
                        This item is being purchased and is no longer listed.
                      {% endif %}
                  {% elif post.owner != request.user %}
                <button id="contact-now" data-toggle="modal" data-target="#buynow-modal" class="btn contact-button btn btn-primary" style="margin-left:-1px;" href="#contact-modal"><i class="icon-white icon-shopping-cart"></i> Buy Now</button>
                  {% endif %}
              {% else %}
                <a class="btn contact-button btn-primary" style="margin-left:-1px;" href="/accounts/login/?next={{ post.get_absolute_url }}">Login to Buy</a>
              {% endif %}
           {% endif %}
        </div><!--/.well -->
      </div><!--/span-->
    
    </div>
    <div class="post-lower">
        <div class="span12" style="margin-left: 0;">
        <div class="span9" style="margin-left: 0;">
            <h3 style="font-weight: 400;">Product Description:</h3>
            <p id="post-body" style="white-space:pre-wrap">{{ post.body }}</p>
        </div>
        <br>
        <div class="span2" style="margin-left: 40px;">
            <!-- <fb:share-button href="#" type="button"></fb:share-button> -->
            {% if request.user.is_authenticated %}
                <!--<h4 style="margin-top: 0; ">More:</h4> -->

                {% if request.user == post.owner %}
                    <p>
                        <a href="{% url edit_item post.id %}" id="edit-post" style="cursor:pointer;"><i class="icon-pencil side-icon"></i>Edit Details</a>
                    </p>
                    <p>
                        <a id="delete-post" style="cursor:pointer;"><i class="icon-trash side-icon"></i>Delete Item</a>
                    </p>
                {% endif %}
                <p>
                    <a href="" onclick="return false;" id="active-bookmark" class="bookmark-activate" style="display: none;">
                        <i class="icon-tag side-icon bookmark-activate"></i>
                        Bookmark Item
                    </a>

                    <a href="" onclick="return false;" id="not-active-bookmark" class="bookmark-activate" >
                        <i class="icon-remove side-icon bookmark-activate"></i>
                        Unbookmark Item
                    </a>
                </p>
                <p>
                    <a id="flag-post" style="cursor:pointer;"><i class="icon-flag side-icon"></i>Flag as inappropriate</a>
                </p>
            {% endif %}
            <!--p>
            <a href="http://www.facebook.com/sharer.php?u=buynear.me{{ post.get_absolute_url }}">
            Share: <img src="/static/images/fb-icon.gif" /></a>
            </p-->
            <!-- AddThis Button BEGIN -->
            <div class="addthis_toolbox addthis_default_style addthis_32x32_style" style="margin-bottom: -50px; width: 110%;">
                <a class="addthis_button_preferred_1"></a>
                <a class="addthis_button_preferred_2"></a>
                <a class="addthis_button_preferred_3"></a>
                <a class="addthis_button_preferred_4"></a>
                <!--a class="addthis_counter addthis_bubble_style"></a-->
            </div>
            <script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
            <script type="text/javascript" src="http://s7.addthis.com/js/300/addthis_widget.js#pubid=ra-512aa338203f9795"></script>
            <!-- AddThis Button END -->
        </div>
        </div> <!-- end span12 -->
        <br>

        <hr style="margin-bottom: 15px;">


        {% if not post.is_facebook_post %}
        <a name = "comments_section"></a><h3 style="font-weight: 400;">Questions:</h3>

        {% if comments %}
        <table class = "table">
        {% for comment in comments %}
          <tr>
            <!--<td><img height=48 width=48 src="{% if post.owner.get_profile.image %} {{ post.owner.get_profile.image.url }} {% endif %}"></td>-->
            <td>{% if comment.sender == post.owner %}<p style="color:green">[Seller] {% endif %} {{comment.sender.get_full_name }}{% if comment.sender == post.owner %}</p>{% endif %} </td>
            <td>"{{comment.body}}"</td> 
            <td>
            {% if comment.seller_response != "" %}
              <p style="color:green">"{{ comment.seller_response }}" [Seller]</p>
            {% else %}
              {% if post.owner == request.user and comment.sender != request.user %}
                <!-- Button to trigger modal -->
                <a href="#modal-response" data-toggle="modal">Respond</a>
     
                <!-- Modal -->
                <div id="modal-response" class="modal hide fade" >
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h3 id="modal-response-label">Seller Response</h3>
                  </div>


                  <form action = "{{ request.path }}?sr={{ comment.id }}" method = "post" style="margin: 0"> {% csrf_token %}
                  <div class="modal-body">

                      <p>
                        <textarea id="id_seller_response" type="text" name="seller_response" maxlength="200" class="input-xlarge field span7" rows="5"></textarea>
                      </p>
                  </div>
                  <div class="modal-footer">
                    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                    <button class="btn btn-primary">Respond</button>

                  </div>
                  </form>
                </div>
              {% endif %}
            {% endif %}
            </td>

          </tr>
        {% endfor %}
        </table>
        {% else %}
            <p style="padding-bottom: 10px;">None currently exist.</p>
        {% endif %}

        <div>
        {% if not post.sold and request.user.is_authenticated %}
          <div class="well">
            <form action="{{ request.path }}" method="post" id="comment-form"> {% csrf_token %}
          <p>
            {% if request.user == post.owner %}
              <label for="id_body">Add public comments here:</label>
            {% else %}
              <label for="id_body">Ask your public questions here. The seller will be notified:</label>
            {% endif %}
            <textarea id="id_body" type="text" name="body" maxlength="200" class="span5" rows="5"></textarea>
          </p>
              <button class="btn btn-primary" style="margin-left:-1px;" id="comment-btn" data-loading-text="Sending...">Comment</button>
            </form>
          </div>
        {% else %}
            <a class="btn contact-button btn-primary" href="/accounts/login/?next={{ post.get_absolute_url }}">Login to Comment</a>
        {% endif %}
        {% endif %}
        </div>
    </div>
  </div><!--sidebar-container-->
  
</div>

<!--sharing modal
<div id="sellModal" class="modal hide fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Almost there</h3>
  </div>
  <div class="modal-body">
    <p>Hey there handsome! We've already posted your item for you. If you want, we can also FB? CRAIGSLIST? post here. You can also do this later from your accounts page. </p>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">Not Now</a>
    <a href="#" method="" class="btn btn-primary">Share</a>
  </div>
</div>-->

{% endblock %}

{% block pre_js %}
<script type="text/javascript">
  var post_pk = "{{ post.pk }}";
  var csrf_token = "{{ csrf_token }}";
  var recipient_pk = "{{ post.owner.pk }}";
  //var sender_pk = "{{ request.user.pk }}"
</script>
{% endblock %}

{% block post_js %}
<script type="text/javascript" src="/static/jquery-validation-1.9.0/jquery.validate.min.js"></script>
<script type="text/javascript">

$(document).ready( function() {

    $('.carousel').carousel();
    
    $(".fb-publish").click(function() {
        publishStream();
    })

    $("#comment-form").validate({
        rules: {
            body: {
                required: true,
            },
        },
        submitHandler: function() {
            $("#comment-btn").button('loading');
            $(form).ajaxSubmit();
        },
    });

    function streamPublish(name, description, caption, hrefLink, picLink){
        FB.ui(
        {
            method: 'feed',
            name: name,
            link: hrefLink,
            picture: picLink,
            caption: caption,
            description: description
        },
        
        function(response) {
          if (response && response.post_id) {
            $("#new-post-alert").alert('close');
            $("#new-post-success").fadeIn();
          } else {
            //alert('Post was not published.');
          }
        }
        
        );
    }
    function publishStream(){
        var post_body = $("#post-body").html();
        var fb_title = $("#post-title").html() + " - ${{ post.price }}"; //instatiate as a variable to be safe in case text contains quotes
        
        streamPublish(fb_title,
        post_body, 
        "Buy and sell with your friends!", 
        'http://buynear.me{{ post.get_absolute_url }}', 
        "http://buynear.me{{ post.get_first_image_url }}");
    }
    
      $(".close-refresh").click (function() {
          location.reload();
      });

      
      $("#delete-post").click(function(){
        if (confirm("Are you sure you want to delete this post?")) {
            window.location.href="/delete/{{ post.pk }}" 
        }
      });
      
      $("#flag-post").click(function(){
        if (confirm("Are you sure you want to flag this post?")) {
            window.location.href="/flag/{{ post.pk }}" 
        }
      });

      $('#buynow-modal').on('shown', function () {
          $('#modal-message').focus();
      });

    $('#modal-response').on('shown', function () {
        $('#id_seller_response').focus();
    });

    $.cookie('onpost',null); 
    $.cookie('onpost','t', { expires: 1, path: '/' } );

    {% if not is_bookmarked %}
        //toggler("bookmark-icon")
        $("#active-bookmark").show()
        $("#not-active-bookmark").hide()
    {% endif %}

    {% if new == 1 and request.user == post.owner %}
        $('#sellModal').modal('show');
    {% endif %}
})
</script>

{% load static %}
<script src="{% get_static_prefix %}js/postview.js"></script>
{% endblock %}
