{% extends "base.html" %}

{% block title %}Buy Near Me - {{post.title}}{% endblock %}

{% block metadata %}
{% load static %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta name="description" content="{{ post.body }}" />
      <meta name="keywords" content="Buy Near Me,buynear.me,buynearme,social,groups,buy,sell,berkeley,UC Berkeley,friends,buynearme.com" />
      <meta property="og:title" content="{{ post.title }} - ${{ post.price }}"/>
      <meta property="og:type" content="website"/>
      <meta property="og:url" content="http://buynear.me{{ post.get_absolute_url }}" />
      <meta property="og:image" content="http://buynear.me{{ post.get_first_image_url }}"/>
      <meta property="og:site_name" content="Buy Near Me"/>

      <meta property="og:description"
            content="{{ post.body }}"/>
{% endblock %}

{% block head %}



  <style type="text/css">
    
  </style>

{% endblock %}



{% block sidebar %}{% endblock %}

    {% block content %} 
    
    {% if new == 1 and request.user = post.owner%}
    <div id="new-post-alert" class="alert alert-block alert-info fade in container">
    <a class="close" data-dismiss="alert" href="#">&times;</a>
    <b> Item successfully posted! </b>
        <p> 
            We recommend you share this on Facebook! 
            <a href="#" onclick="return false;"><img class="fb-publish" src="/static/images/fb-icon.gif" /></a>
        </p>
    </div>
    
    <div id="new-post-success" class="alert alert-block alert-info fade in container" style="display:none;">
    <a class="close" data-dismiss="alert" href="#">&times;</a>
    <b> Facebook Share </b>
        <p> 
            The item was successfully shared on your wall!
        </p>
    </div>
    {% endif %}
    
    <div id="post-container" class="container">
    
    <div class="small-title small-title-post">
      <center><h2 id="post-title">{{ post.title }}</h2></center>
    </div>
    
    <div class="">
    <div class="row post-top">

      <!-- buy now modal -->
      <div class="modal fade hide" id="buynow-modal">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><i class="icon-remove"></i></button>
          <h3>Almost there!</h3>
        </div>
        <div class="modal-body">
            <p>The item will be reserved with you. Send a message to the seller with the form below to hash out the details of your purchase.</p>
          <textarea class="input-xlarge field span7" id="modal-message" rows="5"></textarea>
        </div>
        <div class="modal-footer">
          <button id="modal-send" class="btn btn-primary" type="button" data-loading-text="Sending...">Confirm</button>
          <button class="btn" data-dismiss="modal">Cancel</button>
        </div>
      </div>



      <!-- this modal activates when message is sent -->
      <div class="modal fade hide" id="success-modal">
        <div class="modal-header">
            <button type="button" class="close close-refresh" data-dismiss="modal"><i class="icon-remove"></i></button>
            <h3>Contact</h3>
        </div>
        <div class="modal-body">
            <p> Message Sent!</p>
        </div>
        <div class="modal-footer">
            <button class="btn btn-large btn-inverse close-refresh" data-dismiss="modal">Close</button>
        </div>
      </div>
          
    
      <div class="span8" style="padding-right:25px;">
        <div class="span8">
          
            <div id="postCarousel" class="carousel slide">
              <!-- Carousel items -->
              <div class="carousel-inner">
                {% if post.is_facebook_post %}
                    <div class="active item">
                        <img src="{{ post.facebookpost.get_picture }}" alt="Item Image"/>
                    </div>
                {% else %}
                {% for image_url in image_set %}
                  {% if image_url == post.get_first_image_url %}
                    <div class="active item">
                      <img src="{{ image_url }}" alt="Item Image"/>
                      <!--<div class="carousel-caption">
                        <p>{{ post.category.name }} : {{ post.time_created }}</p>
                      </div>-->
                    </div>
                  {% else %}
                    <div class="item">
                      <img src="{{ image_url }}" alt="Item Image"/>
                      <!--<div class="carousel-caption">
                        <p>{{ post.category.name }} : {{ post.time_created }}</p>
                      </div>-->
                    </div>
                  {% endif %}
                {% endfor %}
                {% endif %}
              </div>
              <!-- Carousel nav -->
              {% if image_set_length > 1 %}
                <a class="carousel-control left" href="#postCarousel" data-slide="prev">&lsaquo;</a>
                <a class="carousel-control right" href="#postCarousel" data-slide="next">&rsaquo;</a>
              {% endif %}
            </div>
  
        </div>
        
    </div><!-- end row -->
      <div class="span3 post-sidebar">
          <div class="">
              <ul class="nav nav-list">
                  <li class="nav-header"><h2>Seller:</h2></li>
                  {% if post.owner.get_full_name %}
                      <li><p>{{ post.owner.get_full_name }}</p></li>
                  {% else %}
                      <li><p>{{ post.owner.username }}</p></li>
                  {% endif %}
                  <li class="nav-header"><h2>Price:</h2></li>
                  <li> <p>$  {{ post.price }}<p></li>
                  <li class="nav-header"><h2>Date Added:</h2></li>
                  <li> {{ post.time_created.date }}</li>
                  <li class="nav-header"><h2>Category:</h2></li>
                  <li> {{ post.category.name }}</li>
                  <li class="nav-header"><h2>Posted In:</h2></li>
                  {% for circle in post.circles.all %}
                      {% if circle.is_public or circle in request.user.get_profile.my_circles.all %}
                          <li>{{ circle }}</li>
                      {% endif %}
                  {% endfor %}
              </ul>
          </div><!--/.well -->

        <div class="">
          <!--<ul class="nav nav-list">
            {% if request.user.is_authenticated %}
            <li class="nav-header"><h2>Options</h2></li>
            <li>
                {% if request.user == post.owner %}
                  <li>
                      <a id="delete-post" style="cursor:pointer;">
                          <i class="icon-trash side-icon"></i>
                          Delete Post
                      </a>
                  </li>
                {% endif %}
                <li>

                  <a href="" onclick="return false;" id="active-bookmark" class="bookmark-activate" style="display: none;">
                      <i class="icon-tag side-icon bookmark-activate"></i>
                      Bookmark Post
                  </a>

                    <a href="" onclick="return false;" id="not-active-bookmark" class="bookmark-activate" >
                        <i class="icon-remove side-icon bookmark-activate"></i>
                        Unbookmark Post
                    </a>
                </li>
                <br>
                <li>

                </li>
            </li>
             <br>
            {% endif %}
          </ul>-->
          
         <br>
           {% if post.pending_flag %}
              [Sale Pending - this listing will be removed shortly.]
           {% else %}

              {% if request.user.is_authenticated %}
              {% if post.owner != request.user %}
              
              <button id="contact-now" data-toggle="modal" data-target="#buynow-modal" class="btn contact-button btn btn-primary" style="margin-left:-1px;" data-toggle="modal" href="#contact-modal"><i class="icon-white icon-shopping-cart"></i> Buy Now</button> 
              {% endif %}
              {% else %}
              <a class="btn contact-button btn-primary" style="margin-left:-1px;" href="/accounts/login/?next={{ post.get_absolute_url }}">Login to Buy</a>
              {% endif %}
           {% endif %}
        </div><!--/.well -->
      </div><!--/span-->
    
    </div>
    <div class="post-lower">
        <h3 style="font-weight: 400;">Product Description:</h3>
          <p id="post-body" style="white-space:pre-wrap">{{ post.body }}</p>
            <hr style="margin-bottom: 15px;">
            <fb:share-button href="#" type="button"></fb:share-button>
            <br>
            {% if request.user.is_authenticated %}
            <br>
            {% if request.user == post.owner %}

            <p style="margin-left: 20px;">
              <a id="delete-post" style="cursor:pointer;"><i class="icon-trash side-icon"></i>Delete Post</a>
            </p>
            {% endif %}
            <p style="margin-left: 20px;">
                  <a href="" onclick="return false;" id="active-bookmark" class="bookmark-activate" style="display: none;">
                      <i class="icon-tag side-icon bookmark-activate"></i>
                      Bookmark Post
                  </a>

                    <a href="" onclick="return false;" id="not-active-bookmark" class="bookmark-activate" >
                        <i class="icon-remove side-icon bookmark-activate"></i>
                        Unbookmark Post
                    </a>
            </p>
            {% endif %}

        <br>
        {% if not post.is_facebook_post %}
        <h3 style="font-weight: 400;">Comments:</h3>
        <table class = "table">
        {% for comment in comments %}
          <tr>
            <!--<td><img height=48 width=48 src="{% if post.owner.get_profile.image %} {{ post.owner.get_profile.image.url }} {% endif %}"></td>-->
            <td>{% if comment.sender == post.owner %}<p style="color:green">[Seller] {% endif %} {{comment.sender.get_full_name }}{% if comment.sender == post.owner %}</p>{% endif %} </td>
            <td>"{{comment.body}}"</td> 
            <td>
            {% if comment.seller_response != "" %}
              <p style="color:green">"{{ comment.seller_response }}" [Seller]</p>
            {% else %}
              {% if post.owner == request.user and comment.sender != request.user %}
                <!-- Button to trigger modal -->
                <a href="#modal-response" role="button" class="btn btn-primary" data-toggle="modal">Respond</a>
     
                <!-- Modal -->
                <div id="modal-response" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="modal-response-label" aria-hidden="true">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h3 id="modal-response-label">Seller Response</h3>
                  </div>
                  
                  <div class="modal-body">
                  <form action = "{{ request.path }}?sr={{ comment.id }}" method = "post"> {% csrf_token %}
                      <p>
                        <textarea id="id_seller_response" type="text" name="seller_response" maxlength="200" class="input-xlarge field span7" rows="5"></textarea>
                      </p>
                  </div>
                  <div class="modal-footer">
                    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                    <button class="btn btn-primary">Respond</button>
                  </form>
                  </div>
                </div>
              {% endif %}
            {% endif %}
            </td>

          </tr>
        {% endfor %}
        </table>

        <br>
        <div>
        {% if request.user.is_authenticated %}
          <div class = "span4">
            <form action="{{ request.path }}" method="post"> {% csrf_token %}
          <p>
            <label for="id_body">Questions? Ask here:</label> 
            <textarea id="id_body" type="text" name="body" maxlength="200" class="span5" rows="5";/></textarea>
          </p>
              <button class="btn btn-primary" style="margin-left:-1px;">Submit</button><font color="red">
            </form>
          </div>
        {% else %}
           <p> Please login to comment </p>
        {% endif %}
        {% endif %}
        </div>
    </div>
  </div><!--sidebar-container-->
  
</div>
{% endblock %}

{% block pre_js %}
<script type="text/javascript">
  var post_pk = "{{ post.pk }}";
  var csrf_token = "{{ csrf_token }}";
  var recipient_pk = "{{ post.owner.pk }}";
  //var sender_pk = "{{ request.user.pk }}"
</script>
{% endblock %}

{% block post_js %}
<script type="text/javascript">

$(document).ready( function() {

    $('.carousel').carousel();
    
    $(".fb-publish").click(function() {
        publishStream();
    })
    
    function streamPublish(name, description, caption, hrefLink, picLink){
        FB.ui(
        {
            method: 'feed',
            name: name,
            link: hrefLink,
            picture: picLink,
            caption: caption,
            description: description
        },
        
        function(response) {
          if (response && response.post_id) {
            $("#new-post-alert").alert('close');
            $("#new-post-success").fadeIn();
          } else {
            //alert('Post was not published.');
          }
        }
        
        );
    }
    function publishStream(){
        var post_body = $("#post-body").html();
        var fb_title = $("#post-title").html() + " - ${{ post.price }}"; //instatiate as a variable to be safe in case text contains quotes
        
        streamPublish(fb_title,
        post_body, 
        "Buy and sell with your friends!", 
        'http://buynear.me{{ post.get_absolute_url }}', 
        "http://buynear.me{{ post.get_first_image_url }}");
    }
    
      $(".close-refresh").click (function() {
          location.reload();
      })

      
      $("#delete-post").click(function(){
        if (confirm("Are you sure you want to delete this post?")) {
            window.location.href="/delete/{{ post.pk }}" 
        }
      })

      $('#contact-modal').on('shown', function () {
          $('#modal-message').focus();
      })

$.cookie('onpost',null); 
  $.cookie('onpost','t', { expires: 1, path: '/' } );

{% if not is_bookmarked %}
    //toggler("bookmark-icon")
      $("#active-bookmark").show()
      $("#not-active-bookmark").hide()
{% endif %}

})
</script>

{% load static %}
<script src="{% get_static_prefix %}js/postview.js"></script>
{% endblock %}
