{% extends "base.html" %}

{% block title %}BuyNearMe - {{post.title}}{% endblock %}

{% block analyticshead %}
    <script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-512aa338203f9795"></script>
{% endblock %}

{% block metadata %}
{% load static %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta name="description" content="{{ post.body }}" />
      <meta name="keywords" content="Buy Near Me,buynear.me,buynearme,social,groups,buy,sell,berkeley,UC Berkeley,friends,buynearme.com" />
      <meta property="og:title" content="{{ post.title }} - ${{ post.price }}"/>
      <meta property="og:type" content="website"/>
      <meta property="og:url" content="http://buynear.me{{ post.get_absolute_url }}" />
      <meta property="og:image" content="http://buynear.me{{ post.get_first_image_url }}"/>
      <meta property="og:site_name" content="Buy Near Me"/>

      <meta property="og:description"
            content="{{ post.body }}"/>
{% endblock %}

{% block head %}
<link href="{{ STATIC_URL }}css/showpost.css?v=52414" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
    {% include "showpost/new-post-alert.html" %}
    <div class="item-container">
        <div class="span8" style="background-color: white">
          {% include "showpost/item-main.html" %}
          {% include "showpost/comments.html" %}

        </div><!-- end span8 -->

        <div class="span4">
            {% include "showpost/right-bar-content.html" %}
        </div><!-- end span4-->
    </div><!-- end #item-container -->


    <!--modal stuff->
    <!-- buy now modal -->
      <div class="modal fade hide msg-modal" id="buynow-modal">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><i class="icon-remove"></i></button>
          <h3>Almost there!</h3>
        </div>
        <div class="modal-body">
            <p>Hash out the details of your purchase, such as when and where you want to meet up!</p>
          <textarea class="input-xlarge field span7" id="modal-message" rows="5" placeholder="Can you meet at Dwinelle this Friday at 12pm? Thanks!"></textarea>
            <br>
            <p>Ask questions in the comments section!</p>
        </div>
        <div class="modal-footer">
          <button id="modal-send" class="btn btn-primary" type="button" data-loading-text="Sending...">Buy</button>
          <button class="btn" data-dismiss="modal">Cancel</button>
        </div>
      </div>

      <!-- this modal activates when message is sent -->
      <div class="modal fade hide" id="success-modal">
        <div class="modal-header">
            <button type="button" class="close close-refresh" data-dismiss="modal"><i class="icon-remove"></i></button>
            <h3>Buy Now</h3>
        </div>
        <div class="modal-body">
            <p> Message Sent!</p>
        </div>
        <div class="modal-footer">
            <button class="btn btn-large close-refresh" data-dismiss="modal">Close</button>
        </div>
      </div>

    <!-- "are you sure you want to delete" modal window -->
    <div class="modal fade hide" id="delete-modal-{{ post.id }}">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><i class="icon-remove"></i></button>
            <h3>Delete Post</h3>
        </div>
        <div class="modal-body">
            <p>
                Are you sure you want to delete your post '{{ post.title }}'?
            </p>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary verify-delete" value="{{ post.id }}" type="button" data-loading-text="Deleting...">Delete</button>
            <button class="btn" data-dismiss="modal">Cancel</button>
        </div>
    </div>

    <!-- success modal content -->
    <div class="modal fade hide" id="delete-success-modal">
        <div class="modal-header">
            <button type="button" class="close close-refresh" data-dismiss="modal"><i class="icon-remove"></i></button>
            <h3>Delete Post</h3>
        </div>
        <div class="modal-body">
            <p>Success, post deleted!</p>
        </div>
        <div class="modal-footer">
            <button class="btn close-refresh" data-dismiss="modal">Close</button>
        </div>
    </div>
{% endblock %}

{% block pre_js %}
<script type="text/javascript">
  var post_pk = "{{ post.pk }}";
  var csrf_token = "{{ csrf_token }}";
  var recipient_pk = "{{ post.owner.pk }}";
  var csrfmiddlewaretoken = "{{ csrf_token }}";
  //var sender_pk = "{{ request.user.pk }}"
</script>
{% endblock %}

{% block post_js %}
	{% load static %}
    <script type="text/javascript" src="{{ STATIC_URL }}raty-master/lib/jquery.raty.min.js"></script>
    <script type="text/javascript" src="/static/jquery-validation-1.9.0/jquery.validate.min.js"></script>
    <script type="text/javascript" src="{% get_static_prefix %}bootstrap/js/bootstrap-tooltip.js"></script>
    <script type="text/javascript" src="{% get_static_prefix %}bootstrap/js/bootstrap-popover.js"></script>
    <script type="text/javascript">
        $(document).ready( function() {
            //Sets isBoxActive true just for this page
            $(window).on('unload', function(){
                localStorage["isBoxActive"] = JSON.stringify(true)
            });

            {% if not is_bookmarked %}
                    //toggler("bookmark-icon")
                    $("#active-bookmark").show()
                    $("#not-active-bookmark").hide()
            {% endif %}

            {% if new == 1 and request.user == post.owner %}
                    $('#sellModal').modal('show');
            {% endif %}
        })
    </script>
    <script type="text/javascript" src="{% get_static_prefix %}js/profile_messages.js?v=1"></script>
    <script type="text/javascript" src="{% get_static_prefix %}js/showpost.js"></script>

    <!-- Facebook stuff -->
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
{% endblock %}