{% extends "about_base.html" %}

{% block title %}BuyNearMe - Team{% endblock %}

{% block content %}
        <div id="about-box" class="span9">

            <div class="small-title">
                <h2>Team</h2>
            </div>
            <div class="small-body" style="padding-bottom: 10px;">
                <p style="color:#4c4c4c; font-size: 14px;">
                    BuyNearMe began on April 2012 with a group of friends from UC Berkeley with the simple idea that campus
                    trading should be a lot easier,
                    although we learned that it would not be simple to translate this idea into a product.
                    Finally on January 2013, after months of energy drinks (majority consumed by Rory),
                    Stack Overflow threads, and a bunch of random keyboard clicks later BuyNearMe was born!
                </p>
                    <div class="row">
                        <div class="span2">
                            <img class="profile-image" src="{{ STATIC_URL }}images/team/eric.png" />
                        </div>
                        <div class="span6">
                            Eric Xiao is a senior in Electrical Engineering and Computer Science at Cal.
                            He has experience ranging from freelance web development, research,
                            and mobile apps to three software internships
                            across the Bay Area. Eric is the current lead of the team,
                            managing project goals, developing features, and making sure the project is progressing in
                            the right direction while also being heavily involved in the development and the overall business vision.
                            <br>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="span2">
                            <img class="profile-image" src="{{ STATIC_URL }}images/team/seung.png" />
                        </div>
                        <div class="span6">
                            Seung Joo Lee is a senior in Electrical Engineering and Computer Science at Cal.
                            He has developed multiple websites and has been employed professionally many times in his short CS career,
                            ranging from internships to individual contract work.
                            Seung is a full stack developer for BuyNearMe, from front-end design to back-end scripting as well as
                            developing the mobile version of BuyNearMe.
                            <br>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="span2">
                            <img class="profile-image" src="{{ STATIC_URL }}images/team/jessie.png" />
                        </div>
                        <div class="span6">
                            Jessie Tang is a third year at UC Berkeley, studying Business Administration with
                            a background in entrepreneurship. Jessie is in charge of everything on the business and marketing side,
                            particularly working with overall business vision and searching for new opportunities externally.
                            She brings her sharp mind, dedication, and hustle to the business.
                            <br>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="span2">
                            <img class="profile-image" src="{{ STATIC_URL }}images/team/calvin.png" />
                        </div>
                        <div class="span6">
                            Calvin Woo is a senior studying Electrical Engineering and Computer Science at UC Berkeley.
                            Calvin works as a front-end designer for BuyNearMe, constructing the user experience to be as smooth as possible.
                            He is also developing the mobile version of BuyNearMe.
                            <br>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="span2">
                            <img class="profile-image" src="{{ STATIC_URL }}images/team/rory.png" />
                        </div>
                        <div class="span6">
                            Rory Timar is a senior Mechanical Engineering and Math double major who enjoys coding, building robots,
                            and solving problems. He is fluent in building web apps,
                            and configures and maintains the infrastructure of BuyNearMe server-side as the sysadmin.
                            He enjoys dabbling in robotics and computer vision from time to time.
                            <br>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="span2">
                            <img class="profile-image" src="{{ STATIC_URL }}images/team/tai.png" />
                        </div>
                        <div class="span6">
                            Tai Tran is a third year studying Economics with a background in marketing and management at UC Berkeley.
                            He has work experience as a social media consultant, research assistant, and resident
                            advisor at the Haas School of Business and UC Berkeley.
                            At BuyNearMe, Tai leads the marketing team to redefine the process of user acquisition and retention.
                            His work also focuses on marketing strategy, business development, brand evangelism, and social media marketing.
                            <br>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="span2">
                            <img class="profile-image" src="{{ STATIC_URL }}images/team/harry.png" />
                        </div>
                        <div class="span6">
                            Harry Do is a second year at Berkeley, majoring in Economics.
                            He has business experience from working at State Farm Insurance to doing accounting at small hotel chains.
                            He works with Jessie and Tai in marketing Buy Near Me on campus working to acquire more user
                            and find engaging ways to keep the community interested.
                            <br>
                        </div>
                    </div>
                    <br>
                </p>
            </div>
        </div>
{% endblock %}

{% block post_js %}
  <script type="text/javascript">
    $('#team-link').css('color', 'black');
    $('#team-link').css('text-decoration', 'none');
    $('#team-link').css('cursor', 'default');
    $('#team-link').click(function(e) {
      e.preventDefault();
    });
  </script>
{% endblock %}
