{% extends 'box.html' %}
{% block metadata %}
{% load static %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta name="description" content="Buy and sell items within your community." />
      <meta name="keywords" content="Buy Near Me,buynear.me,buynearme,social,groups,buy,sell,berkeley,UC Berkeley,friends" />
      <meta property="og:title" content="Buy Near Me"/>
      <meta property="og:type" content="website"/>
      <meta property="og:url" content="http://buynear.me"+{{ circle.get_absolute_url }}/>
      <meta property="og:image" content="{% get_static_prefix %} 124ta-orange.png"/>
      <meta property="og:site_name" content="Buy Near Me"/>

      <meta property="og:description"
            content="{{ circle.name }}"/>
{% endblock %}

{% block sidebar %}
{{ block.super }}
{% endblock %}

{% block content %}
<!--<div class="span9 offset3 sidebar-content" id="content">
  <legend style="width: 980px;">
    <h2>{{ circle }}</h2>
    {% if request.user.is_authenticated %}
      <div class=" pull-right">
        <fb:share-button href="#" type="button"> </fb:share-button>
        <button class="btn btn-primary" id="action" value="{{action}}" style="margin-left:10px;">{{ action }} Group</button>
      </div>
    {% else %}
      <p class="pull-right" style="font-size:16px;"> <a href="/accounts/login">Log in</a> now to join this group! </p>
    {% endif %}
  </legend>
</div>-->

    <div id="circleHeader" class="span10 offset3">
        <h2>{{ circle.name }}</h2>
        
        {% if circle.description %}
        <p id="groupDescription" style="white-space: pre-wrap;">{{ circle.description }}</p>
        {% else %}
        <p id="groupDescription" style="white-space: pre-wrap;">No description available.</p>
        {% endif %}
        

        {% if circle.creator == request.user %}
            <hr>
            <h3 style="margin-top:0; padding-top: 0; margin-bottom: 0;">Admin Options</h3>
            <a id="editDescriptionToggle" href="#" onclick="return false;"> Edit Description </a>
            <div id="descriptionP" style="padding-top:4px;">

                <textarea id="descriptionInput" style="width:400px; height: 150px;">{{ circle.description }}</textarea><br>
                <button id="updateDescription" class="btn btn-primary">Change Description</button>
            </div>
            <br>
            <a href="#" onclick="return false;" id="deleteGroup">Delete Group</a>
        {% endif %}

    </div>

    <div id="groupActivity">
        <h3> Social</h3>
        {% if user.is_authenticated %}
        <button class="btn btn-primary btn-mini" id="action" value="{{action}}" >{{ action }} Group</button>
        <span id="actionComplete"></span>
        {% else %}
        <a class="btn btn-primary btn-mini" href="/accounts/login/?next=/groups/view/{{ circle.url_key }}"> Login to join </a>
        {% endif %}
        <br>
        <br>
        <fb:share-button href="#" type="button" id="fbshare-social"> </fb:share-button>
        <br>
    </div>

{{ block.super }}


{% endblock %}

{% block post_js %}
<script type="text/javascript">
$(document).ready( function(){
    var csrf_token = "{{ csrf_token }}";

    {% if all_items|length == 0 %}
        var noneText = '<h2>Nothing seems to be here. <a href="/post/">Sell</a> and</h2> \
                <div style="margin-top:-38px; margin-left:430px;"><fb:share-button href="#" type="button"></fb:share-button></div>'
        $("#boxDiv").append(noneText)
    {% endif %}

$("#descriptionP").hide();
$("#actionComplete").hide();
$("#editDescriptionToggle").click(function(){
    $("#descriptionP").slideToggle();
})

$("#updateDescription").click(function(){
    var newDescription =  $("#descriptionInput").val();
    data = {};
    data['newDescription'] = newDescription;
    data['csrfmiddlewaretoken'] = csrf_token;
    $.ajax({
        type: "POST",
        url: "./update/",
        //dataType: "text",
        data: data,
        success: function(msg){
            if (msg=="Success") {
                $("#descriptionP").slideToggle();
                $("#groupDescription").fadeOut(function() {
                    $(this).text(newDescription).fadeIn();
                });
            }
        }
    })

})


$("#action").click( function() {
  var action = $(this).attr("value"); // either Join or Leave
  dataString = "&action="+action
  $.ajax({
    // even tho it is a get request, works as a post request
    // odd reason POST doesn't work with ajax call
    type: "GET", 
    url: "./",
    dataType: "text",
    data: dataString,
    success: function(){
      if (action == "Join") {
        $("#action").hide().delay(3000).fadeIn(400).delay(300).html("Leave Group");
        $("#actionComplete").html("Group Joined!").fadeIn(300).delay(2000).fadeOut(300);
        $("#action").attr("value","Leave");
      } else {
        $("#action").hide().delay(3000).fadeIn(400).html("Join Group");
          $("#actionComplete").html("Group Left!").fadeIn(300).delay(2000).fadeOut(300);
        $("#action").attr("value","Join");
      }
    }
  })
})

$("#deleteGroup").click( function() {
    var r = confirm("Are you sure you want to delete this group? This action is permanent")

    if(r==true){
        data = {};
        data['csrfmiddlewaretoken'] = csrf_token;
        $.ajax({
            type: "POST",
            url: "./delete/",
            //dataType: "text",
            data: data,
            success: function(msg){
                if (msg=="Success") {
                    var title = "Group Deleted"
                    var delete_msg = "Group has been successfully deleted."
                    window.location.replace("/note/?msg="+delete_msg+"&title="+title);
                }
            }
        })
    }
})


switchCirc('{{circle.name}}'); 
toggler('{{circle.name}}-icon');

{% if circle.is_public == 0 %}
$('#circle_header').html('')
$(".circle_side-item").html('')
{% endif %}


})
</script>

{{ block.super }}

{% endblock %}<fb:share-button href="#" type="button"> </fb:share-button>  
        <button class="btn btn-primary" id="action" value="{{action}}" style="margin-left:10px;">{{ action }} Group</button>
