<div class="comments-section">
    <div class="comments-wrapper">
        <div id="comments-header">COMMENTS</div>
        {% if comments %}
        {% for comment in comments %}
            <div class="comment-row">
                <div class="commenter-photo">
                    <a href="{% url user comment.sender.id %}">
                        <img class="comment-photo" src="{{ comment.sender.get_profile.get_image_url }}" />
                    </a>
                </div>
                <div class="comment-content">
                    <div class="commenter-name {% if comment.sender == post.owner %}seller{% endif %}">
                        <a href="{% url user comment.sender.id %}">{{comment.sender.first_name }}</a>
                        {% if comment.sender == post.owner %}(Seller){% endif %}
                    </div>

                    <div class="comment-top-right">
                        {% if not comment.seller_response and post.owner == request.user and comment.sender != request.user %}
                            <!-- Button to trigger modal -->
                            <a href="#modal-response-{{ comment.id }}" class="reply no-underline" data-toggle="modal"><i class="icon-pencil"></i> Reply</a>

                            <!-- Modal -->
                            <div id="modal-response-{{ comment.id }}" class="modal hide fade" >
                              <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                <h3 id="modal-response-label">Seller Response</h3>
                              </div>

                              <form action = "{{ request.path }}?sr={{ comment.id }}" method = "post" style="margin: 0"> {% csrf_token %}
                              <div class="modal-body">
                                  <p>
                                    <textarea id="id_seller_response" type="text" name="seller_response" maxlength="200" class="input-xlarge field span7" rows="5"></textarea>
                                  </p>
                              </div>
                              <div class="modal-footer">
                                <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                                <button class="btn btn-primary">Respond</button>

                              </div>
                              </form>
                            </div>
                        {% endif %}
                        {% if comment.sender == request.user or request.user.is_staff %}
                            <a comment-id="{{ comment.id }}" class="delete-comment no-underline">
                                <i class="icon-trash"></i> Delete
                            </a>
                        {% endif %}
                    </div>

                    <div class="comment-body">{{comment.body}}</div>


                    {% if comment.seller_response != "" %}
                      <div class="response-row">
                          <div class="seller-response-name">
                            {{ post.owner.get_full_name }} (Seller)
                          </div>
                          <div class="seller-response-body">
                          {{ comment.seller_response }}
                          </div>
                          {% if post.owner == request.user %}
                            <a comment-id="{{ comment.id }}" class="delete-response no-underline">Delete</a>
                          {% endif %}
                      </div>
                    {% else %}

                    {% endif %}
                </div><!-- end comment-content -->
            </div><!--end comment-row-->
        {% endfor %}
        {% else %}
            <div class="no-comments">No comments</div>
        {% endif %}
    </div><!-- end comments-wrapper -->

    <div class="comment-action">
    {% if not post.pending_flag and request.user.is_authenticated %}
      <div class="add-comment">
        <form action="{{ request.path }}" method="post" id="comment-form"> {% csrf_token %}
        <textarea id="id_body" type="text" name="body" maxlength="200" class="span5" rows="2" placeholder="write a comment"></textarea>
        <br>
        <button class="btn btn-primary btn-small" id="comment-btn" data-loading-text="Sending...">Comment</button>
        </form>
      </div>
    {% elif post.pending_flag %}
        <div id="comment-sold">Sold or claimed items can no longer accept comments.</div>
    {% else %}
        <a class="btn contact-button btn-primary btn-small" href="/accounts/login/?next={{ post.get_absolute_url }}">Login to Comment</a>
    {% endif %}
    </div>
</div><!-- end .comments-section -->