<div class="item-main">
    <div id="postCarousel" style="width: 620px; margin-top: 20px; margin-left: -15px; margin-bottom: 20px;" class="carousel slide {% if post.is_category_image %}category-image{% endif %}">
      <!-- Carousel items -->
      <div class="carousel-inner">
        {% if post.is_facebook_post %}
            <div class="active item">
                <img src="{{ post.facebookpost.get_picture }}" alt="Item Image"/>
            </div>
        {% else %}
        {% for image_url in image_set %}
          {% if image_url == post.get_first_image_url %}
            <div class="active item">
              <img src="{{ image_url }}" alt="Item Image"/>
              <!--<div class="carousel-caption">
                <p>{{ post.category.name }} : {{ post.time_created }}</p>
              </div>-->
            </div>
          {% else %}
            <div class="item">
              <img src="{{ image_url }}" alt="Item Image"/>
              <!--<div class="carousel-caption">
                <p>{{ post.category.name }} : {{ post.time_created }}</p>
              </div>-->
            </div>
          {% endif %}
        {% endfor %}
        {% endif %}
      </div>
    
      <!-- Carousel nav -->
      {% if image_set_length > 1 %}
        <a class="carousel-control left" href="#postCarousel" data-slide="prev">&lsaquo;</a>
        <a class="carousel-control right" href="#postCarousel" data-slide="next">&rsaquo;</a>
      {% endif %}
    </div> <!--end #postCarousel-->

    <div id="item-title" style="display: block; margin-bottom: 20px;">
        {{ post.title }}
      <!--   {% if post.sold %}
          <p style="margin-top: 5px; font-size: 14px; color:red;">(This item has been sold)</p>
      {% elif post.pending_flag %}
          {% if thread and request.user != post.owner %}
              <p style="margin-top: 5px; font-size: 14px; color:red;">(You are purchasing this item)</p>
          {% else %}
              <p style="margin-top: 5px; font-size: 14px; color:red;">(This item is being purchased)</p>
          {% endif %}
      {% elif post.deleted %}
          <p style="margin-top: 5px; font-size: 14px; color:red;">(This item has been deleted)</p>
      {% endif %} -->
    </div>


    <div id="description">{{ post.body }}</div>
</div><!-- end .item-main -->
