<div id="price-and-share">
    <div id="item-price" style="width: 100%; text-align: center">${{ post.price }}</div>
</div>

<div id="main-action-wrapper">
    {% if post.category.name == "Housing" %}
       {% if request.user.is_authenticated %}
           <div class="blue-wrap">
               <div class="main-btn-wrapper">
                   <div id="email-seller">Email Seller</div>
                   <a href="mailto:{{ post.owner.email }}?subject={{ post.title }}">{{ post.owner.email }}</a>
               </div>
           </div>
{#           <a href="#" class="post-icon" onclick="return false;" data-toggle="popover" title="" data-content="Email the seller to request a visit. Ask any questions through the comments." data-placement="right" data-trigger="hover" style="margin-top:12px; margin-left:10px; position:absolute">#}
{#             <i class="icon-question-sign icon-large" style="color: #0088cc; text-decoration:none;"></i>#}
{#           </a>#}
       {% else %}
           <div class="blue-wrap">
               <div class="main-btn-wrapper">
                   <a href="/accounts/login/?next={{ post.get_absolute_url }}" class="btn contact-button btn-primary btn-block">
                       Login to Contact
                   </a>
               </div>
           </div>
       {% endif %}
   {% else %}
       {% if request.user.is_authenticated %}
           {% if post.sold %}
               {% if thread %}
                   <div class="blue-wrap">
                       <div class="main-btn-wrapper">
                           <a href="{{ thread.get_absolute_url }}" class="btn btn-primary btn-block">View Messages</a>
                       </div>
                   </div>
               {% endif %}
               {% if post.pending_buyer == request.user %}
                   <div>You bought this item! Hooray!</div>
               {% else %}
                   <div>This item has been sold and is no longer listed.</div>
               {% endif %}
           {% elif post.pending_flag %}
               {% if thread %}
                   <div class="blue-wrap">
                       <div class="main-btn-wrapper">
                           <a href="{{ thread.get_absolute_url }}" class="btn btn-primary btn-block">View Messages</a>
                       </div>
                   </div>
               {% else %}
                   <div>This item is being purchased and is no longer listed.</div>
               {% endif %}
           {% elif post.owner != request.user %}
               <!-- BUY NOW BUTTON -->
               {% if thread %}
                   <div class="blue-wrap">
                       <div class="main-btn-wrapper">
                           <a href="{{ thread.get_absolute_url }}" class="btn btn-primary btn-block">View Messages</a>
                       </div>
                   </div>
               {% else %}
               <div class="green-wrap">
                   <div id="buy-now-wrapper">
                       <button id="contact-now" data-toggle="modal" data-target="#buynow-modal"
                        class="btn contact-button btn btn-success btn-block" href="#contact-modal">
                         Buy Now
                       </button>
                   </div>
                   <a id="what-happens" href="#" onclick="return false" data-toggle="popover" title=""
                             data-content="Send a message to the seller to show your intent to buy the item.<br><br>
                             The seller will confirm your purchase and then the item will no longer be listed."
                             data-placement="bottom" data-trigger="hover">
                       What's going to happen?
                   </a>
               </div>
               {% endif %}
           {% endif %}

           {% if post.owner == request.user and not post.pending_flag and not post.sold %}
               {% if offers %}
               <div class="blue-wrap">
                   <div class="main-btn-wrapper">
                       <a href="{% url account_selling %}" class="btn btn-primary btn-block">View Offers</a>
                   </div>
               </div>
               {% endif %}
               <div class="basic-wrap">
                   <div class="main-btn-wrapper">
                       <a href="{% url edit_item post.id %}" class="btn btn-block">
                         Edit Item
                       </a>
                   </div>
               </div>
           {% endif %}

       {% else %}<!-- user is logged out -->
           {% if not post.pending_flag and not post.sold %}
           <div class="blue-wrap">
               <div class="main-btn-wrapper">
                   <a href="/accounts/login/?next={{ post.get_absolute_url }}" class="btn contact-button btn-primary btn-block">
                       Login to Buy
                   </a>
               </div>
           </div>
           {% endif %}
       {% endif %}
   {% endif %}
</div>

<div class="seller-info">

    <div class="seller-image">
        <a href="{% url user post.owner.id %}" class="no-underline">
            <img src='{{ post.owner.get_profile.get_image_url }}'/>
        </a>
    </div>
    <div class="seller-name">
        <a href="{% url user post.owner.id %}" class="no-underline">
            {% if post.owner.get_full_name %}
                {{ post.owner.get_full_name }}
            {% else %}
                {{ post.owner.username }}
            {% endif %}
        </a>
        <br>
        <span class="score" data-score="{{ reviews_avg }}"></span>
        <a href="{% url user_reviews post.owner.id %}" class="num-reviews"> {{ reviews|length }} reviews</a>
    </div>
</div>
    {% if request.user == post.owner %}
<div id="item-info">

    <div class="info-title">Date Added</div>
    <div class="info-detail">{{ post.time_created.date }}</div>

    <div class="info-title">Category</div>
    <div class="info-detail">{{ post.category.name }}</div>

        <div class="info-column">
            <div class="info-title">Post Expires</div>
            <div class="info-detail">{{ post.expire_date.date }}</div>
        </div><!-- end #info-column -->
        <div class="refresh-column">
            <form action="{% url repost_item %}"  method="post" id="refresh_form">{% csrf_token %}
                <input type="hidden" name="post_id" value="{{ post.id }}">
                <a href="#" type="submit" class="no-underline" onclick="$(this).parents('form').submit(); return false;">
                    <i class="icon-refresh" style="font-size:24px;"></i>
                </a>
            </form>
        </div>
        <div class="help-column">
            <a href="#" class="post-icon no-underline" onclick="return false;" data-toggle="popover" title=""
               data-content="This item will not show up in search results once it has expired.<br><br>
               Click the refresh button to the left to reset the expiration date to 60 days from now!"
               data-placement="right" data-trigger="hover" data-original-title="">
           <i class="icon-question-sign" style="color: #0088cc; font-size:24px;"></i></a>
        </div>
    {% if post.sold %}
        <div class="info-title">Date Sold</div>
        <div class="info-detail">{{ post.sold_date.date }}</div>
    {% endif %}

</div><!-- end #item-info -->
{% endif %}

{% if request.user.is_authenticated %}
<div id="item-actions">
    {% if request.user == post.owner and not post.pending_flag and not post.sold%}
        <div class="small-action">
            <a data-toggle="modal" href="#delete-modal-{{ post.id }}">
                <!--<i class="icon-trash"></i>-->
                Delete Item
            </a>
        </div>
    {% endif %}
        <div id="active-bookmark" class="bookmark-activate small-action" style="display: none">
            <!--<i class="icon-heart bookmark-activate"></i>-->
            Bookmark Item
        </div>

        <div id="not-active-bookmark" class="bookmark-activate small-action">
            <!--<i class="icon-remove bookmark-activate"></i>-->
            Unbookmark Item
        </div>

        <div id="flag-post" class="small-action">
            <!--<i class="icon-flag"></i>-->
            Flag as Inappropriate
        </div>
</div><!-- end #item-actions -->
{% endif %}

<script type="text/javascript" src="{{ STATIC_URL }}bootstrap/js/bootstrap-tooltip.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}bootstrap/js/bootstrap-popover.js"></script>
<script type="text/javascript">
$(document).ready( function() {
    //craziness that creates a popover with no title
});
</script>
