.profile-image {
    margin-left: -12px;
    margin-top: -7px;
}

.linkedin-link {
    margin-left:8px;
}

.how-it-works p {
    margin-top:5px;
    margin-bottom:30px;
}

p {
    font-weight:300;
}

.about-jobs li {
    font-weight:300;
}