.small-title {
  border: none;
  margin-bottom: 10px;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0px;
}

.small-title h2 {
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 5px;
  padding-bottom: 5px;
}