#low-banner h2,
#low-banner p,
#low-banner .icon-group,
#low-banner .icon-pic {
    text-align:center;
}
#top-banner {
    background-size: cover;
    position: absolute;
    padding-bottom: 0;
    height: 100%;
    width: 100%;
}

#low-banner p {
    font-size:14px;
}

#why-us {
    display: none;
}

input[placeholder] {
    font-weight: 300;
}

#low-banner {
    display: none;
    /*-moz-box-shadow:    inset 0  4px 15px -8px #696868,
                        inset 0 -4px 15px -8px #696868;
    -webkit-box-shadow: inset 0  4px 15px -8px #696868,
                        inset 0 -4px 15px -8px #696868;
    box-shadow:    inset 0  4px 15px -8px #696868,
                        inset 0 -4px 15px -8px #696868;*/
  background:#eee;
  min-width:1246px !important; 
  padding-top: 60px;
  padding-bottom: 60px;
  margin-bottom: 0;
  height: 275px;
}

body {
    background: #FFF;
}

#body {
    padding-bottom: 0;
    padding-top: 0 !important;
    position: absolute;
    width: 100%;
    background: white; /* includes padding from the footer and footer's height */
}

.footer {
    z-index: 1000;
    position: absolute;
    border: none !important;
}

body {
    margin-top: 0px !important;
    padding-top: 0px !important;
    background-image: none !important;
}

.btn {
    border: none;
    box-shadow: none !important;
    border-radius: 0px;
}
