#low-banner h2,
#low-banner p,
#low-banner .icon-group,
#low-banner .icon-pic {
    text-align:center;
}

#low-banner p {
    font-size:14px;
}

#low-banner {
    /*-moz-box-shadow:    inset 0  4px 15px -8px #696868,
                        inset 0 -4px 15px -8px #696868;
    -webkit-box-shadow: inset 0  4px 15px -8px #696868,
                        inset 0 -4px 15px -8px #696868;
    box-shadow:    inset 0  4px 15px -8px #696868,
                        inset 0 -4px 15px -8px #696868;*/
  background:#eee;
  min-width:1200px;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-bottom: 0;
  height: 275px;
}

body {
    background: #FFF;
}

#body {
    padding-bottom: 0;
    background: white; /* includes padding from the footer and footer's height */
}

.footer {
    position: absolute;
    border: none !important;
}

body {
    background-image: none !important;
}

.btn {
    border: none;
    box-shadow: none !important;
    border-radius: 0px;
}