.table-mid {
    width:30%;
}

.table-mid2 {
    width:18%;
}

.table-start {
    width:36%;
}

.help-msg {
    background-color: #f4f4f4;
    text-align: center;
    padding: 5px;
}

.confirm > h3 {
    font-weight:600;
    line-height:24px;
}

.alert > p {
    margin:0;
}

.confirm > p {
    margin: 10px 0;
}

.confirm {
    margin-bottom:0;
}

.item-title {
    word-wrap:break-word;
    word-break:break-all;
}

.button-row {
    padding-bottom:10px;
}

.button-row > .btn {
    margin-right:10px;
}