.item-container {
  margin: 25px auto 0 auto;
  display: table;
  /*background-color: white;*/
  /*padding: 15px 20px 0 0;*/
}

.item-container .span8 {
  margin-left: 0;
}

.item-main {
  margin-bottom: 20px;
}

.item-main {
  padding: 15px;
  background-color: white;
  border: 0px solid #d1d1d1;
}

.item-container .span4 {
  padding: 15px;
  background-color: white;
  border: 0px solid #d1d1d1;
}

#item-title {
  /*font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;*/
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 22px;
  margin-bottom: 0px;
  line-height: normal;
}

.popover {
    width:300px;
}

#postCarousel {
  height:327px;
  width:590px;
  background-color: #1c1c1c;
  margin-top: 8px;
}

#postCarousel.category-image {
  border: 1px solid #d0d0d0;
  background-color: white;
}

.carousel {
    margin-bottom: 25px !important;
}

.carousel-inner { /* Keep lineheight same as height as above */
  text-align: center;
  line-height:325px;
}

#postCarousel .item > img {
  max-height:325px;
  max-width:600px;
  display: inline-block;
  vertical-align:middle;
  margin-top:-2px;
}

#description {
  font-family: 'Open Sans';
}

/*right-bar-content.html*/
#item-price {
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  font-weight: 300;
  width: 190px;
  margin-top: 8px;
}

#addthis-container {
  float: right;
  display: inline-block;
  width: 108px;
  margin-top: -28px;
}

#main-action-wrapper {
  margin-top: 25px;
}

.green-wrap {
  background-color: rgb(241, 252, 236);
  padding: 10px;
  padding-bottom: 5px;
  border: 1px solid #d8f6ca;
}

#buy-now-wrapper {
  padding: 10px;
  background-color: white;
}

.basic-wrap {
  background-color: #f4f4f4;
  padding: 10px;
  border: 1px solid #e6e6e6;
}

.blue-wrap {
  background-color: #d1edf9;
  padding: 10px;
  border: 1px solid #c0e1f9;
}

.main-btn-wrapper {
  padding: 10px;
  background-color: white;
}

#what-happens {
  display: inline-block;
  margin-top: 2px;
  text-align: center;
  width: 100%;
  font-size: 12px;
}

#email-seller {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 13px;
}

.seller-info {
    margin-top: 60px;
    overflow: auto;
}

.seller-image {
    float: left;
}

.seller-image img {
    height: 50px;
    width: 50px;
}

.seller-name {
    float: left;
    margin-left: 10px;
    font-size: 16px;
}

.num-reviews {
    vertical-align: middle;
    font-size: 14px;
    display: inline-block;
    margin-left: 5px;
}

#item-info {
  margin-top: 50px;
  margin-bottom: 35px;
  border: 0px solid #dddddd;
  background-color: #ffffff;
}

.info-title {
  font-size: 12px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  color: rgb(85, 85, 85);
  height: 17px;
}

.info-detail {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  margin-bottom: 15px;
}

.post-icon
{
    color: inherit !important;
}

.info-column,
.help-column,
.refresh-column {
    display:inline-block;
}

.help-column,
.refresh-column {
    vertical-align:top;
    margin-top:5px;
    margin-left:10px;
}

#refresh_form {
    margin:0;
}

#description {
  white-space: pre-wrap;
}

#item-actions {
  margin-top: 15px;
}

.small-action{
  color: rgb(0, 136, 204);
  text-decoration: none;
  font-size: 13px;
  font-family: 'Open Sans', sans-serif;
}

.small-action:hover {
  background-color: rgb(243, 243, 243);
  cursor: pointer;
}

.small-action i{
  width: 20px;
  display: inline-block;
  color: black;
}

.small-action a {
  text-decoration: none;
}
/*end rightbarcontent*/

/*comments.html*/
.comments-section {
  background-color: white;
  border: 0px solid #d1d1d1;
}

.comments-wrapper {
  padding: 15px 15px 5px 15px;
}

#comments-header {
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color: rgb(85, 85, 85);
  height: 17px;
  margin-bottom: 7px;
}

.comment-row {
  border-top: 1px solid #e5e5e5;
  padding: 5px 0;
  position: relative;
    overflow: auto;
}

.commenter-photo {
    float: left;
}

.comment-photo {
    width: 50px;
    height: 50px;
}

.comment-content {
    float: left;
    margin-left: 10px;
}

.delete-response {
  position: absolute;
  top: 3px;
  right: 10px;
}

.reply {
    display: inline-block;
    margin-right: 10px;
}

.comment-top-right {
 position: absolute;
  top: 3px;
  right: 10px;
}

.commenter-name {
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

.commenter-name.seller {
  color: #47a85d;
}

.comment-body {
  font-size: 13px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
    white-space: pre-wrap;
}

.response-row {
  margin-top: 5px;
  background-color: rgb(245, 245, 241);
  padding: 3px 10px 3px 20px;
  position: relative;
   width: 495px;
}

.seller-response-name {
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: #47a85d;
}

.seller-response-body {
  font-size: 13px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

.no-comments {
  color: #808080;
  font-size: 13px;
}

.comment-action {
  background-color: rgb(246, 246, 246);
  padding: 15px;
  padding-bottom: 10px;
}

#comment-form {
  margin: 0;
}

#comment-form textarea {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 13px;
  color: #1f1f1f;
}

/*placeholder text change */
#comment-form textarea::-webkit-input-placeholder
{
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 13px;
}
#comment-form textarea:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 13px;
}
#comment-form textarea::-moz-placeholder { /* Mozilla Firefox 19+ */
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 13px;
}
#comment-form textarea:-ms-input-placeholder { /* Internet Explorer 10+ */
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 13px;
}

#comment-sold {
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
}
/*end comments.html*/
