#profile-wrapper {
    margin-left: auto;
    margin-right: auto;
    display: table;
    font-family: 'Open Sans', sans-serif;
}

.profile-card {
    background: white;
    padding: 20px;
    border: 0px solid #d1d1d1;
    position: relative;
}

.image-column {
    float: left;
}

.image-wrapper {
    height: 180px;
    width: 180px;
    position: relative;
    overflow: hidden;
}

.image-wrapper img {
    width: 180px;
}

.change-photo-label {
    position: absolute;
    bottom: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #777;
    opacity: 0.8;
    color: white;
    width: 100%;
    text-align: center;
    font-size: 16px;
}

.user-info {
    margin-left: 20px;
    float: left;
}

#user-name {
    font-size: 22px;
    color: #28b4ef;
}

#reviews-avg-wrapper {
    margin-top: 12px;
}

#reviews-avg {
    display: inline-block;
}

#reviews-avg img {
    height: 20px;
}

#num-reviews {
    display: inline-block;
    font-size: 18px;
    vertical-align: middle;
    color: rgb(153, 153, 153);
}

.relevant-wrapper {
    float:left;
}

.relevant-item-data {
    margin-top: 85px;
    font-size: 18px;
    color: rgb(95, 95, 95);
}

.relevant-item-number{
    font-weight: bold;
    font-size: 20px;
    color: #28b4ef;
}

#items-listed {
    padding-right: 10px;
    border-right: 1px solid #c3c3c3;
}

#items-sold {
    padding: 0 10px;
    border-right: 1px solid #c3c3c3;
}

#items-bought {
    padding-left: 10px;
}



.profile-options {
    position: absolute;
    right: 0;
    top: 0;
    width: 180px;
    height: 182px;
    background-color: #FFF !important;
    padding: 20px;
    font-weight: 300 !important;
}

.profile-options a{
    color: #0088cc;
    font-size: 18px;
    display: block;
    margin-bottom: 10px;
}

#listings-header {
    font-size: 22px;
    font-weight: 300;
    background image **/
    background-color: black;
    display: inline-table;
    margin-top: 40px;
    margin-bottom: 20px;
    padding: 0 4px 0 9px;
}

#listings-header-line {
    display: none;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin-top: 35px;
}

.items-container {
    /*overflow: hidden;*/
    /*width: 982px;*/
    width: 988px;
    margin-left: 12px;
}

.items-wrapper {
  margin-left:27px;
}

.user-item {
  float:left;
  margin-right:10px;
  height:295px;
}

/*
.item {
    background-color: white;
    border: 1px solid #D3D3D3;
    margin: 0 10px 10px 10px;
    height: 218px;
    padding: 7px 3px 3px 3px;
    width: 300px;
    float: left;
    position: relative;
}

.item-image {
    height: 194px;
}

.item-text {
    padding-top: 4px;
    height: 23px;
    vertical-align: middle;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    text-align:center;
    font-size: 16px;
    text-overflow:ellipsis;
    overflow: hidden;
    white-space: nowrap;
    color: black;
}

.item-price {
    position: absolute;
    top: 7px;
    right: 6px;
    padding: 2px;
    background-color: #fc8e00;
    padding-left: 6px;
    padding-right: 6px;
    color: white;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    border: 2px solid white;
    border-top: none;
}*/

.item:hover {
        -moz-box-shadow: 0 0 3px 3px rgba(255,183,51,0.3);
    -webkit-box-shadow: 0 0 3px 3px rgba(255,183,51,0.3);
    /*box-shadow: 0 0 3px 3px rgba(255,183,51,0.3);*/
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.4);
    border-color: #bbbbbb;
    transition:0.2s;
    -moz-transition:0.2s; /* Firefox 4 */
    -webkit-transition: 0.2s; /* Safari and Chrome */
    -o-transition: 0.2s; /* Opera */
}

.no-items-listed {
    font-size: 16px;
    font-weight: 300;
}

.review {
    background-color: white;
    border: 0px solid #d1d1d1;
    padding: 10px 20px;
    margin-bottom: 10px;
}

.score {
    display: inline-block;
    padding-left: 10px;
}

.review-title {
    display: inline-block;
    vertical-align: middle;
}

.review-date {
    display: inline-block;
    vertical-align: middle;
}

.review-by {
    margin-bottom: 5px;
}

.edit-review {
    vertical-align: middle;
}