{% extends 'profile/profile.html' %}

{% block profile_title %}Buying {% endblock %}

{% block title %}Account - Buying {% endblock %}

{% block head %}
     <link href="{{ STATIC_URL }}css/profile.css" rel="stylesheet">
{% endblock %}

{% block profile_content %}
    <div>

    {% if pending_threads %}
    <table class="table table-striped">
    <caption><h4> Waiting Confirmation </h4></caption>
    <thead>
        <tr>
            <th class="table-start">Item Title</th>
            <th class="table-mid">Messages</th>
            <th class="table-mid2">Seller</th>
            <th>Recent Message</th>
        </tr>
    </thead>
    <tbody>
    {% for thread in pending_threads %}
        <tr {% if not thread.is_read %}class="info"{% endif %}>

          <td>
        <a href="/{{ thread.post_id }}"> {{ thread.post_title }} </a>
        {% if not thread.is_read %}
            (Unread)
        {% endif %}
        {% if thread.post_deleted %}
            (Post Deleted)
        {% endif %}
          </td>
          <td>
          <a href="../messages/{{ thread.id }}">Read <i class="icon-envelope-alt"></i></a>
          </td>
          <td>
            {% if thread.other_person.get_full_name %}
              {{ thread.other_person.get_full_name }}
            {% else %}
              {{ thread.other_person.username }}
            {% endif %}
          </td>
          <td>
            {{ thread.newest_message_time }}
          </td>

        </tr>
    {% endfor %}
    </tbody>
    </table>
    {% endif %}

    {% if my_threads %}
    <table class="table table-striped">
    <caption><h4> You're currently buying </h4></caption>
    <thead>
        <tr>
            <th>Item Title</th>
            <th>Messages</th>
            <th>Seller</th>
            <th>Recent Message</th>
        </tr>
    </thead>
    <tbody>
    {% for thread in my_threads %}
        <tr {% if not thread.is_read %}class="info"{% endif %}>

          <td>
        <a href="/{{ thread.post_id }}"> {{ thread.post_title }} </a>
        {% if not thread.is_read %}
            (Unread)
        {% endif %}
        {% if thread.post_deleted %}
            (Post Deleted)
        {% endif %}
          </td>
          <td>
          <a href="../messages/{{ thread.id }}">Read <i class="icon-envelope-alt"></i></a>
          </td>
          <td>
            {% if thread.other_person.get_full_name %}
              {{ thread.other_person.get_full_name }}
            {% else %}
              {{ thread.other_person.username }}
            {% endif %}
          </td>
          <td>
            {{ thread.newest_message_time }}
          </td>
    
        </tr>
    {% endfor %}
    </tbody>
    </table>
    {% endif %}
    
    
    {% if completed_threads %}
    <table class="table table-striped">
    <caption><h4> You've bought </h4></caption>
    <thead>
        <tr>
            <th>Item Title</th>
            <th>Messages</th>
            <th>Seller</th>
            <th>Recent Message</th>
        </tr>
    </thead>
    <tbody>
    {% for thread in completed_threads %}
        <tr {% if not thread.is_read %}class="info"{% endif %}>
          <td>
        <a href="/{{ thread.post_id }}"> {{ thread.post_title }} </a>
        {% if not thread.is_read %}
            (Unread)
        {% endif %}
        {% if thread.post_deleted %}
            (Post Deleted)
        {% endif %}
          </td>
          <td>
            <a href="../messages/{{ thread.id }}">Read <i class="icon-envelope" style="text-decoration:none; color:black;"></i></a>
          </td>
          <td>
            {% if thread.other_person.get_full_name %}
              {{ thread.other_person.get_full_name }}
            {% else %}
              {{ thread.other_person.username }}
            {% endif %}
          </td>
          <td>
            {{ thread.newest_message_time }}
          </td>

        </tr>
    {% endfor %}
    </tbody>
    </table>
    {% endif %}

    {% if not my_threads and not completed_threads and not pending_threads %}
        <h2> You are not in the process of buying anything. </h2>
    {% endif %}
    </div>


{% endblock %}

{% block post_js %}
    {% load static %}

    <script type="text/javascript">
        $(document).ready( function() {
            $("#messages-tab").addClass("active");

        });

        var csrf_token = "{{ csrf_token }}";
    </script>
    <script src="{% get_static_prefix %}js/profile_messages.js?v=1"></script>
{% endblock %}
