{% extends 'profile/profile.html' %}

{% block profile_title %}Selling {% endblock %}

{% block title %}Account - Selling {% endblock %}

{% block head %}
     <link href="{{ STATIC_URL }}css/profile.css" rel="stylesheet">
{% endblock %}

{% block profile_content %}
    <div>

    {% if pending_threads %}
    <table class="table table-striped" >
    <caption><h4> Items Needing Confirmation </h4></caption>
    <thead>
        <tr>
            <th class="table-start">Item Title</th>
            <th class="table-mid">Message</th>
            <th class="table-mid2">Buyer</th>
            <th>Recent Message</th>
        </tr>
    </thead>
    <tbody>
    {% for thread in pending_threads %}
        <tr {% if not thread.is_read %}class="info"{% endif %}>

          <td>
        <a class="item-title" href="/{{ thread.post_id }}"> {{ thread.post_title }} </a>
        {% if not thread.is_read %}
            (Unread)
        {% endif %}
          <td>
            <a href="../messages/{{ thread.id }}">Read <i class="icon-envelope-alt"></i></a>
          </td>
          <td>
            {{ thread.other_person.first_name }} {{ thread.other_person.last_name }}
          </td>

          <td>
            {{ thread.newest_message_time }}
          </td>

        </tr>
    {% endfor %}
    </tbody>
    </table>
    <br>
    {% endif %}

    {% if my_threads %}
    <table class="table table-striped" >
    <caption><h4> Items Being Purchased </h4></caption>
    <thead>
        <tr>
            <th class="table-start">Item Title</th>
            <th class="table-mid">Messages</th>
            <th class="table-mid2">Buyer</th>
            <th>Recent Message</th>
        </tr>
    </thead>
    <tbody>
    {% for thread in my_threads %}
        <tr {% if not thread.is_read %}class="info"{% endif %}>

          <td>
        <a class="item-title" href="/{{ thread.post_id }}"> {{ thread.post_title }} </a>
        {% if not thread.is_read %}
            (Unread)
        {% endif %}
          <td>
            <a href="../messages/{{ thread.id }}">Read <i class="icon-envelope-alt"></i></a>
          </td>
          <td>
            {{ thread.other_person.first_name }} {{ thread.other_person.last_name }}
          </td>

          <td>
            {{ thread.newest_message_time }}
          </td>

        </tr>
    {% endfor %}
    </tbody>
    </table>
    <br>
    {% endif %}
    
    {% if ifs_waiting_list %}
    <table class="table table-striped">
    <caption><h4> Awaiting Purchase </h4></caption>
    <thead>
        <tr>
            <th class="table-start">Item Title</th>
            <th>Date Expires</th>
            <th><center>Bump Item
                <a href="#" class="post-icon no-underline" onclick="return false;" data-toggle="popover" title=""
               data-content="<span style='font-weight:300;'>This item will not show up in search results once it has expired.<br><br>
               Click the refresh button to the left to reset the expiration date to 60 days from now!</span>"
               data-placement="right" data-trigger="hover" data-original-title="">
           <i class="icon-question-sign" style="color:black; font-size:18px;"></i></a></center></th>
            <th><center>Delete Item</center></th>
        </tr>
    </thead>
    <tbody>
    {% for item in ifs_waiting_list %} 
    <tr>
      <td>
        <a class="item-title" href = "/{{ item.pk }}"> {{ item.title }} </a>
        {% if item.is_expired %}
            <span style="color:red">(Expired)</span>
        {% endif %}
      </td>
      <td>
          {{ item.expire_date.date }}
      </td>
      <td>
        <center>
            <a class="icon-refresh no-underline" data-toggle="modal" style="font-size:18px;" href="#bump-modal-{{ item.id }}"></a></center>
            <!-- "are you sure you want to delete" modal window -->
            <div class="modal fade hide" id="bump-modal-{{ item.id }}">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><i class="icon-remove"></i></button>
                    <h3>Bump Item</h3>
                </div>
                <div class="modal-body">
                    <p>
                        Are you sure you want to bump your item '{{ item.title }}'?
                    </p>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary verify-bump" value="{{ item.id }}" type="button" data-loading-text="Bumping...">Bump</button>
                    <button class="btn" data-dismiss="modal">Cancel</button>
                </div>
            </div>
      </td>

      <td>
        <center><a class="icon-trash" style="font-size:18px;" data-toggle="modal" href="#delete-modal-{{ item.id }}"></a></center>

      <!-- "are you sure you want to delete" modal window -->
      <div class="modal fade hide" id="delete-modal-{{ item.id }}">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><i class="icon-remove"></i></button>
          <h3>Delete Post</h3>
        </div>
        <div class="modal-body">
          <p>
            Are you sure you want to delete your post '{{ item.title }}'?
          </p>
        </div>
        <div class="modal-footer">
          <button class="btn btn-primary verify-delete" value="{{ item.id }}" type="button" data-loading-text="Deleting...">Delete</button>
          <button class="btn" data-dismiss="modal">Cancel</button>
        </div>
      </div>



    </td>
    </tr>
    {% endfor %}
    </tbody>
    </table>
    <br>
    {% endif %}

    {% if ifs_expired %}
        <table class="table table-striped">
            <caption><h4> Expired Items </h4></caption>

            <thead>
            <tr>
                <th class="table-start">Item Title</th>
                <th class="table-mid">Date Expired</th>
                <th><center>Repost</center></th>
            </tr>
            </thead>

        <tbody>
        {% for item in ifs_expired %}
            <tr>
                <td>
                    <a class="item-title" href = "/{{ item.pk }}"> {{ item.title }} </a>
                </td>
                <td>
                    {{ item.expire_date.date }}
                </td>
                <td>
                    <center><a class="icon-refresh" data-toggle="modal" href="#repost-modal-{{ item.id }}"></a></center>
                    <!-- "are you sure you want to delete" modal window -->
                    <div class="modal fade hide" id="repost-modal-{{ item.id }}">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"><i class="icon-remove"></i></button>
                            <h3>Repost Item</h3>
                        </div>
                        <div class="modal-body">
                            <p>
                                Are you sure you want to repost your item '{{ item.title }}'?
                            </p>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-primary verify-repost" value="{{ item.id }}" type="button" data-loading-text="Reposting...">Repost</button>
                            <button class="btn" data-dismiss="modal">Cancel</button>
                        </div>
                    </div>



                </td>
            </tr>
        {% endfor %}
        </tbody>
        </table>
    {% endif %}

    {% if ifs_sold %}
        <table class="table table-striped">
            <caption><h4> Sold Items </h4></caption>

            <thead>
            <tr>
                <th>Item Title</th>
                <th>Messages</th>
                <th>Sold To</th>
            </tr>
            </thead>

        <tbody>
        {% for thread in ifs_sold %}
        <tr {% if not thread.is_read %}class="info"{% endif %}>
          <td>
              <a href="/{{ thread.post_id }}">
             {{ thread.post_title }}
              </a>
              {% if not thread.is_read %}
                (Unread)
              {% endif %}
              {% if thread.post_deleted %}
                (Post Deleted)
              {% endif %}
          </td>
          <td>
            <a href="../messages/{{ thread.id }}">Read <i class="icon-envelope" style="text-decoration:none; color:black;"></i></a>
          </td>
          <td>
            {{ thread.other_person.first_name }} {{ thread.other_person.last_name }}
          </td>
        </tr>
        {% endfor %}


        </tbody>
        </table>
    {% elif not sold_outside_list and my_threads %}
        <center><h4> Sold Items </h4></center>
        <center><p>
            You haven't finished selling any items yet. <br>
            Mark your items as sold if they're done!
        </p></center>
        <br>
    {% endif %}

    {% if sold_outside_list %}
        <table class="table table-striped">
    <caption><h4> Sold Outside BuyNearMe </h4></caption>
    <thead>
        <tr>
            <th>Item Title</th>
            <th>Date Sold</th>
        </tr>
    </thead>
    <tbody>
    {% for item in sold_outside_list %}
    <tr>
      <td>
        <a class="item-title" href = "/{{ item.pk }}"> {{ item.title }} </a>
      </td>
      <td>
          {{ item.sold_date.date }}
      </td>
    </tr>
    {% endfor %}
    </tbody>
    </table>
    <br>
    {% endif %}

    {% if not my_threads and not ifs_waiting_list and not ifs_sold and not sold_outside_list %}
        <h2> You are not currently selling anything.</h2>
        <h4>
          <a href="{% url createIFS %}">Create a post now!</a>
        </h4>
    {% endif %}

    {% if declined_threads %}
    <table class="table table-striped" >
    <caption><h4> Declined Purchases </h4></caption>
    <thead>
        <tr>
            <th class="table-start">Item Title</th>
            <th class="table-mid">Message</th>
            <th class="table-mid2">Buyer</th>
            <th>Recent Message</th>
        </tr>
    </thead>
    <tbody>
    {% for thread in declined_threads %}
        <tr {% if not thread.is_read %}class="info"{% endif %}>

          <td>
        <a class="item-title" href="/{{ thread.post_id }}"> {{ thread.post_title }} </a>
        {% if not thread.is_read %}
            (Unread)
        {% endif %}
          <td>
            <a href="../messages/{{ thread.id }}">Read <i class="icon-envelope-alt"></i></a>
          </td>
          <td>
            {{ thread.other_person.first_name }} {{ thread.other_person.last_name }}
          </td>

          <td>
            {{ thread.newest_message_time }}
          </td>

        </tr>
    {% endfor %}
    </tbody>
    </table>
    <br>
    {% endif %}

    </div> <!-- End Tables DIV-->

    <!-- delete post success modal -->
    <div class="modal fade hide" id="delete-success-modal">
        <div class="modal-header">
            <button type="button" class="close close-refresh" data-dismiss="modal"><i class="icon-remove"></i></button>
            <h3>Delete Post</h3>
        </div>
        <div class="modal-body">
            <p>Success, post deleted!</p>
        </div>
        <div class="modal-footer">
            <button class="btn close-refresh" data-dismiss="modal">Close</button>
        </div>
    </div>

    <!-- repost success modal -->
    <div class="modal fade hide" id="repost-success-modal">
        <div class="modal-header">
            <button type="button" class="close close-refresh" data-dismiss="modal"><i class="icon-remove"></i></button>
            <h3>Repost Item</h3>
        </div>
        <div class="modal-body">
            <p>Success, item reposted!</p>
        </div>
        <div class="modal-footer">
            <button class="btn close-refresh" data-dismiss="modal">Close</button>
        </div>
    </div>

    <!-- repost success modal -->
    <div class="modal fade hide" id="bump-success-modal">
        <div class="modal-header">
            <button type="button" class="close close-refresh" data-dismiss="modal"><i class="icon-remove"></i></button>
            <h3>Bump Item</h3>
        </div>
        <div class="modal-body">
            <p>Success, item bumped to latest date!</p>
        </div>
        <div class="modal-footer">
            <button class="btn close-refresh" data-dismiss="modal">Close</button>
        </div>
    </div>
{% endblock %}

{% block post_js %}
    {% load static %}
    <script type="text/javascript" src="{{ STATIC_URL }}bootstrap/js/bootstrap-popover.js"></script>
    <script type="text/javascript">
        $(document).ready( function() {
            $("#messages-tab").addClass("active");
            $(".post-icon").popover({
                template: '<div class="popover"><div class="arrow"></div><div class="popover-inner"><div class="popover-content"><p></p></div></div></div>',
                html: true
            });
        })
        var csrf_token = "{{ csrf_token }}";
    </script>
    <script src="{% get_static_prefix %}js/profile_messages.js?v=2"></script>
{% endblock %}
