{% extends 'profile/profile.html' %}

{% block profile_title %} <a href="{{ post.get_absolute_url }}">{{ thread.post_title }} {% if thread.post_deleted %}(Post Deleted){%endif%}</a> {% endblock %}

{% block title %} Messages - {{ thread.post_title }} {% if thread.post_deleted %}(Post Deleted){%endif%} {% endblock %}

{% block head %}
     <link href="{{ STATIC_URL }}css/profile.css" rel="stylesheet">
{% endblock %}

{% block profile_content %}
<div>
  {% if thread.declined %}
      <div class="alert alert-error fade in">
        <p>This purchase has been declined by the buyer.</p>
      </div>
  {% elif is_owner %}
    {% if post.pending_flag and not post.sold %}
      <div class="alert alert-info fade in">
        <h3>Have you sold your item?</h3>
        <p style="margin-bottom:10px">If it didn't work out, we can repost this item for you automatically.<p>
        <a class="btn btn-primary" data-toggle="modal" data-target="#complete-modal" style="margin-right:10px;">Sold It</a>
        <a class="btn" data-toggle="modal" data-target="#repost-modal">Didn't work out</a>
      </div>
    {% elif post.sold %}
      <div class="alert alert-info fade in">
        <p>This sale is complete.</p>
      </div>
    {% else %}
      <div class="alert alert-warning fade in">
        <p>This sale is pending confirmation.</p>
      </div>
    {% endif %}
  {% else %}
    {% if post.sold %}
      <div class="alert alert-info fade in">
        <p>This sale has been marked completed by the seller.</p>
      </div>
    {% elif post.pending_flag %}
      <div class="alert alert-info fade in">
        <p>This sale is in progress, and has not been marked complete by the seller.</p>
      </div>
    {% else %}
      <div class="alert alert-warning fade in">
        <p>This sale is pending confirmation.</p>
      </div>
    {% endif %}
  {% endif %}

  {% if not post.pending_flag and is_owner and not thread.declined %}
    <div class="button-row">
      <button class="btn" data-toggle="modal" data-target="#confirm-modal" style="margin-right:10px;">Confirm Purchase</button>
      <button class="btn contact-button btn-info" data-toggle="modal" href="#contact-modal"><i class="icon-share-alt icon-white"></i> Reply </button>
    </div>
    Confirm purchase to remove the item from search results and show your commitment to this buyer.
  {% elif not is_owner and request.user != post.pending_buyer and not thread.declined %}
    <div class="button-row">
      <button class="btn" data-toggle="modal" data-target="#decline-modal" style="margin-right:10px;">Decline Purchase</button>
      <button class="btn contact-button btn-info" data-toggle="modal" href="#contact-modal"><i class="icon-share-alt icon-white"></i> Reply </button>
    </div>
    Decline purchase if you no longer want to buy this item.
  {% elif thread.declined and not is_owner %}
      <button class="btn" data-toggle="modal" data-target="#undo-decline-modal" style="margin-right:10px;">Undo Decline Purchase</button>
  {% else %}
    <button class="btn contact-button btn-info" data-toggle="modal" href="#contact-modal"><i class="icon-share-alt icon-white"></i> Reply </button>
  {% endif %}
  <br><br>
  {% if not is_owner and post.pending_flag and post.pending_buyer == request.user %}
    <a href="{% url review_item post.id %}">Have you already received the item? Click here to give a review!</a>
  {% endif %}

  {% include "profile/view_thread/modals.html" %}

  <table class="table table-hover table-bordered">
    <tbody>
      {% for message in messages %}
        <tr>
          <td>
            {% if message.sender == request.user %}
              <b> Me </b>
            {% else %}
              <b><a href="{% url user message.sender.id %}">{{ message.sender.first_name }} {{ message.sender.last_name }}</a></b>
            {% endif %}
            <br> 
            {{ message.time_created }}
            <br>
            <p style="white-space:pre-wrap; line-height: 19px;">{{ message.body }}</p>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}

{% block pre_js %}
<script type="text/javascript">
  var post_pk = "{{ thread.post_id }}";
  var csrf_token = "{{ csrf_token }}";
  var recipient_pk = "{{ thread.other_person.pk }}";
</script>
{% endblock %}

{% block post_js %}
  <script type="text/javascript">
    $(document).ready( function() {
      $("#messages-tab").addClass("active");
      // refresh the page after sending msg
      $(".close-refresh").click (function() {
        location.reload();
      });
      $('#contact-modal').on('shown', function () {
        $('#modal-message').focus();
      });
      $('#confirm-modal').on('shown', function () {
        $('#modal-message').focus();
      });
      $('#decline-modal').on('shown', function () {
        $('#modal-message').focus();
      });
    });
  </script>
  <script src="{{ STATIC_URL }}js/profile_messages.js?v=2"></script>
{% endblock %}
