<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
  <head>{% load static %}
    <title>{% block title %}Buy Near Me Mobile{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.css" />
    <link href="{% get_static_prefix %}mobile/mobile_style.css" rel="stylesheet">
    <link href="{% get_static_prefix %}css/facebook.css" type="text/css" rel="stylesheet" media="all" />

    <script src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.js"></script>
    <link rel="shortcut icon" href="{% get_static_prefix %}1255.ico">
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,200,400,500,600' rel='stylesheet' type='text/css'>

    <!-- ANALYTICS -->
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-34571639-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>  <!-- END ANALYTICS -->
    {% block end_head %}{% endblock %}
  </head>

  <body>
    {% block data-role-page %}
    <div id="body-page" data-role="page" data-theme="d" class="div-page" {% block extra-page-details %}{% endblock %}>
      <div data-role="header" data-theme="b">
        <div data-role="navbar">
          <ul>  
            <li style="width:33%;"><a href="{% url browse %}" rel="external" class="font-400" >Browse</a></li>
		    <li style="width:33%;"><a href="{% url sell %}" rel="external" class="font-400">Sell</a></li>
            {% if request.user.is_authenticated %}
		    <li style="width:34%;"><a id="flip" class="flipclass"><img src="/static/mobile/gear.png" style="height:17px; margin-left:-3px;"></a></li>
            {% else %}
            <li style="width:34%;"><a href="{% url login %}" rel="external" class="font-400">Login</a></li>
            {% endif %}
          </ul>
        </div><!-- /navbar -->
      </div>

      <div id="panel-id" class="panel">   <!-- both ids and classes are necessary, otherwise jquery implodes -->
        {% if request.user.is_authenticated %}
        <a href="{% url notifications %}" rel="external">
            <div class="panel-item">
            Notifications ({{ request.user.get_profile.friend_notifications }})
            </div>
        </a>
        <div class="border" style="border-top-color:#474747"></div>
        <a href="{% url my_items %}" rel="external" style="width: 100%;"><div class="panel-item">What I'm Selling</div></a>
        <div class="border" style="border-top-color:#474747"></div>
        <a href="{% url buying %}" rel="external"><div class="panel-item">What I'm Buying</div></a>
        <div class="border" style="border-top-color:#474747"></div>
        <a href="/logout" rel="external"><div class="panel-item">Logout</div></a>
        {% else %}
        <a href="{% url login %}" rel="external"><div class="panel-item">Login</div></a>
        {% endif %}
      </div>

      {% block body_content %}{% endblock %}

    </div><!-- /page -->

    <script type="text/javascript">
      $("#body-page").die("pageinit");
      $("#body-page").live("pageinit", function(event){
        $.mobile.ajaxLinksEnabled = false;
        $(".flipclass").tap(function(e) {
          e.preventDefault();     //disables default function of button; removes blue highlight + stops tap from firing twice
          $(".panel").slideToggle(350); //400 is "normal speed" in ms
          return false;
        });
      });
    </script>

    {% block javascript %}{% endblock %}

    {% include 'django_facebook/_facebook_js.html' %}

    {% endblock %}

    {% block after_page %}{% endblock %}

    <script type="text/javascript" src="{% get_static_prefix %}mobile/mobile-js.js"></script>   <!-- jquery site says to put this last after any custom js-->
  </body>
</html>
