{% extends "mobile/base.html" %}

{% block title %}What I'm Buying{% endblock %}
{% block header_title %}What I'm Buying{% endblock %}
{% block body_content %}
    <div>
        <center><h2 style="font-weight: 400; margin: 8px;">What I'm Buying</h2></center>
        
        {% if not my_threads %}
            <center>
            <p>
            You aren't buying anything :(
            </p>
            </center>
        {% endif %}
        
        {% if my_threads %}
        <div id="table-title">
            <center><h3>I'm Buying</h3></center>
        </div>
            <ul data-role="listview" id="browse-list">
                {% for thread in my_threads %}

                <li>
                <a href="{{ thread.get_mobile_url }}" rel="external">
                    <img src="{{ thread.post.get_thumbnail_url }}" style="max-height: 100%;" />
                    <h3>
                        {{ thread.post_title }}
                        {% if not thread.is_read %}
                        (Unread)
                        {% endif %}
                    </h3>
                    <p>With: <b>{{ thread.other_person.first_name }} {{ thread.other_person.last_name }}</b></p>
                </a>
                </li>

                {% endfor %}
            </ul>
        {% endif %}       


    </div>
{% endblock %}

{% block javascript %}
{% endblock %}