{% extends "mobile/base.html" %}

{% block body_content %}
    <div id="home-logo" data-inset="true">
        <center><img src="/static/124ta.png" alt="Buy Near Me" style="max-width: 300px;"></center>
        <center><p> Buy and Sell Your Things</p></center>
    </div>


    <div id="login-box">

        <div>
            <label for="basic">Email:</label>
            <input type="text" name="email" id="basic" value=""  />
            <label for="basic">Password: </label>
            <input type="password" name="password" value=""  />
            <br>
            <input type="button" value="Log In" data-theme="d" >
        </div>
        <br>
        <hr>
        <br>
        <input type="button" value="Log in with Facebook" data-theme="b" >
    </div>

{% endblock %}