{% extends "mobile/base.html" %}

{% block body_content %}
<div id="home-logo" data-inset="true">
  <center><img src="/static/124ta-beta.png" alt="Buy Near Me" style="max-height: 40px;"></center>
</div>

<center><h2 style="font-size:15px; margin-top:5px;" class="font-600">Sell on the go!</h2></center>
<center><h2 style="font-size:13px; margin-top:-10px; margin-bottom:20px;">Upload images directly from your mobile camera.</h2></center>

<div class="box">
  <a href="{% url login %}" data-role="button" data-theme="b" class="font-400">Login</a> 
  <a href="{% url sell %}" data-role="button" data-theme="a" class="font-400">Sell</a>
</div>
{% endblock %}

{% block javascript %}
<script type="text/javascript">
    $('#body-page').live('pageshow', function () {

    });
</script>
{% endblock %}

