<!DOCTYPE html> 
<html> 
<head> 
	<title>My Page</title> 
	<meta name="viewport" content="width=device-width, initial-scale=1"> 
	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.css" />
    <link href="mobiletest.css" rel="stylesheet">
	<script src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
	<script src="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.js"></script>
</head> 

<body> 

<div data-role="page" class="type-interior">

	<div data-role="header">
		<h1>My Title</h1>
	</div><!-- /header -->

	<div data-role="content">
		<div class="content-primary">	
		<ul data-role="listview">
			<li><a href="index.html">
				<img src="bg.jpg" />
				<h3>Broken Bells</h3>
				<p>la página principal más visitada del mundo. Encuentra rápidamente lo que buscas, ponte en contacto con tus amigos y mantente al tanto</p>
			</a></li>
			<li><a href="index.html">
				<img src="bg.jpg" />
				<h3>Warning</h3>
				<p>Crea una página a tu medida. Personaliza tu página</p>
			</a></li>
			<li><a href="index.html">
				<img src="bg.jpg" />
				<h3>Wolfgang Amadeus Phoenix</h3>
				<p>Encuentra todo sobre deportes en</p>
			</a></li>
			<li><a href="index.html">
				<img src="bg.jpg" />
				<h3>Of The Blue Colour Of The Sky</h3>
				<p>permite acceder a la información mundial en castellano, catalán, gallego, euskara e inglés</p>
			</a></li>
			<li><a href="index.html">
				<img src="bg.jpg" />
				<h3>Elephant</h3>
				<p>The White Stripes</p>
			</a></li>
			<li><a href="index.html">
				<img src="bg.jpg" />
				<h3>Kid A</h3>
				<p>Radiohead</p>
			</a></li>
			<li><a href="index.html">
				<img src="bg.jpg" />
				<h3>XX</h3>
				<p>XX</p>
			</a></li>
			<li><a href="index.html">
				<img src="bg.jpg" />
				<h3>Congratulations</h3>
				<p>MGMT</p>
			</a></li>
			
			<li><a href="index.html">
				<img src="bg.jpg" />
				<h3>Ashes Grammar</h3>
				<p>A Sunny Day in Glasgow</p>
			</a></li>
			
			<li><a href="index.html">
				<img src="bg.jpg" />
				<h3>Hot Fuss</h3>
				<p>Killers</p>
			</a></li>
			<li><a href="index.html">	
				<img src="bg.jpg" />
				<h3>The Suburbs</h3>
				<p>Arcade Fire</p>
			</a></li>
		</ul>
		</div><!--/content-primary -->

</div><!-- /page -->

</body>
</html>
