{% extends "mobile/base.html" %}

{% block title %}Sell{% endblock %}
{% block header_title %}Sell{% endblock %}

{% block end_head %}
    {% load static %}
    <link rel="stylesheet" href="{% get_static_prefix %}bootstrap/css/bootstrap-fileupload.min.css" />
    <link href="{% get_static_prefix %}bootstrap/css/bootstrap.css" rel="stylesheet">
{% endblock %}

{% block body_content %}
<center><h2 id="colored-page-header">Sell Item</h2></center>

<div id="sell-container">
<form id="sell-form" action="{% url sell %}" method="post" enctype="multipart/form-data" data-ajax="false">
    {% csrf_token %}
    {% if error %}
    <p style="color: red;">Sorry, something went wrong. Please try again or contact an admin.</p>
        {{ form.errors }}
    {% endif %}
    
    <div class="sell-input-group">
        <label>What are you selling?</label><br>
        <input type="text" name="title" placeholder="Math 1A Textbook" />
        <span class="insert-space"></span>
    </div>
    <div class="sell-input-group">
        <label>Take a picture!</label><br>
        <!--new images-->
        <div class="fileupload fileupload-new" data-provides="fileupload">
            <div class="fileupload-new thumbnail" style="width: 50px; height: 50px;">
                <img src="http://www.placehold.it/50x50/EFEFEF/AAAAAA" />
            </div>
            <div class="fileupload-preview fileupload-exists thumbnail" style="width: 50px; height: 50px;"></div>
                  <span class="btn btn-file">
                      <span class="fileupload-new">Select image</span>
                      <span class="fileupload-exists">Change</span>
                      <input type="file" name="images" />
                  </span>
            <a href="#" class="btn fileupload-exists" data-dismiss="fileupload">Remove</a>
        </div>
        <span id="upload-images"> </span>
        <br>
        <span class="upload-more"><a>+ Tap to upload more images!</a></span>
    </div>

    
    <div class="sell-input-group">
        <label>Describe your item.</label><label class="error"></label>
        <textarea name="body"></textarea>
        <span class="insert-space"></span>
    </div>
    
    <div class="sell-input-group">
        <label>How much do you want for it?</label>
        <input type="text" name="price" placeholder="50.00" />
        <span class="insert-space"></span>
    </div>

    
    <div class="sell-input-group">
        <label>What kind of item is it?</label>
        <select name="category" id="id_category">
            <option value="" selected="selected">---------</option>
            {% for entry in categories %}
                <option value="{{ entry.id }}">{{ entry.name }}</option>
            {% endfor %}
        </select>
        <span class="insert-space"></span>
    </div>

    <input type="hidden" name="circles" value="1" />

    <input id="sell-submit-btn" type="submit" value="Submit" data-theme="b" />


</form>
</div>
{% endblock %}

{% block javascript %}
    {% load static %}
    <script type="text/javascript" src="/static/jquery-validation-1.9.0/jquery.validate.min.js"></script>
    <script type="text/javascript" src="{% get_static_prefix %}bootstrap/js/bootstrap-fileupload.min.js"></script>


    <script type="text/javascript">
        var uploadImageCounter =1;
        var first_time_error = true
        $("#sell-form").validate({
            rules: {
                title: {
                    required: true,
                },
                body: {
                    required: true,
                },
                price: {
                    required: true,
                    number: true,
                    min: 0,
                },
                category: {
                    required: true,
                }
            },
            errorPlacement: function(error, element) {

                // this is because error are too close to the input
                if (first_time_error) {
                    first_time_error = false;
                    $(".insert-space").each(function(){
                        $(this).html("<br>")
                    })
                }


                if (element.attr("name") === "category") {
                    error.insertAfter($(element).parent());
                } else {
                    error.insertAfter(element);
                }
            },
            submitHandler: function() {
                $('#sell-submit-btn').button('disable');
                $("#sell-form").submit(function(event){
                    //$('[type="submit"]').button('disable');
                })
                $.mobile.loading( 'show', {
                    text: 'Sending Message ...',
                    textVisible: false,
                    theme: 'a',
                    html: ""
                });
                $(form).ajaxSubmit();
            },

        });

        $(".upload-more").click(function(){
            var new_upload_html = '<div class="fileupload fileupload-new" data-provides="fileupload">'+
                    '<div class="fileupload-new thumbnail" style="width: 50px; height: 50px; margin-right: 5px;">'+
                    '<img src="http://www.placehold.it/50x50/EFEFEF/AAAAAA" />'+
                    '</div>'+
                    '<div class="fileupload-preview fileupload-exists thumbnail" style="width: 50px; height: 50px;"></div>'+
                    '<span class="btn btn-file">'+
                    '<span class="fileupload-new">Select image</span>'+
                    '<span class="fileupload-exists">Change</span>'+
                    '<input type="file" name="images" />'+
                    '</span>'+
                    '<a href="#" class="btn fileupload-exists" data-dismiss="fileupload">Remove</a>'+
                    '</div>'
            $("#upload-images").append(new_upload_html)
            uploadImageCounter += 1;
            if (uploadImageCounter == 3){
                $(this).remove();
                var max_images = '<br>Maximum 3 images'
                $(".after-image").append(max_images)
            }
        })
    </script>
{% endblock %}

