{% extends "mobile/base.html" %}

{% block title %}Messages{% endblock %}
{% block header_title %}Messages{% endblock %}
{% block body_content %}

    <h3 class="source-font" style="text-align: center;">
        <a href="{{ item.get_absolute_url }}" rel="external">{{ thread.post_title }}</a>
        - {{ thread.other_person.first_name }} {{ thread.other_person.last_name }}</h3>


    
    <a href="#modal" id="buy-btn" data-role="button" data-rel="dialog" data-theme="b">Reply</a>
<br>
<ul data-role="listview">
    {% for message in messages %}

            <li class="messages">
                {% if message.sender == request.user %}
                    <p class="sender"> Me </p>
                {% else %}
                    <p class="sender"> {{ message.sender.first_name }} {{ message.sender.last_name }}</p>
                {% endif %}
                <p class="msg_time_created">{{ message.time_created }}</p>
                <p style="white-space:pre-wrap; line-height: 19px;">{{ message.body }}</p>
            </li>


    {% endfor %}
</ul>

{% endblock %}

{% block after_page %}
<!-- modal -->
<div data-role="page" id="modal">

    <script type="text/javascript" src="{{ STATIC_URL }}mobile/mobile-js.js"></script>

    
    <div data-role="header">
        <h1>Reply</h1>

    </div><!-- /header -->

    <div data-role="content" data-theme="d">    
        <textarea id="message-text" placeholder="Can you meet at Dwinelle this Friday at 12pm? Thanks!"></textarea>
        
        <p id="no-modal-msg" style="color:red; display: none;">Please enter a message</p>
        
        
    
    <fieldset class="ui-grid-a">
        <div class="ui-block-a"><a href="{{ item.get_absolute_url }}" data-rel="back" data-role="button" data-theme="c">Cancel</a></div>
        <div class="ui-block-b"><button id="modal-send" data-theme="b">Send</button></div>	   
    </fieldset>
    
    </div><!-- /content -->


    
</div><!-- /page modal -->
{% endblock %}


{% block javascript %}
    <script type="text/javascript">
        var recipient_pk = {{ thread.other_person.id }}
        var post_pk = {{ item.pk }}
        var csrfmiddlewaretoken = "{{ csrf_token }}";
        var view_thread = true;
    </script>
{% endblock %}