{% extends "mobile/base.html" %}

{% block title %}{{ item.title }}{% endblock %}
{% block header_title %}View Item{% endblock %}

{% block end_head %}
    <link href="/static/mobile/photoswipe/photoswipe.css" type="text/css" rel="stylesheet"
          xmlns="http://www.w3.org/1999/html"/>{% endblock %}

{% block body_content %}

<h2 style="padding: 0 3% 0 3%; margin-bottom: 0; text-align: center; font-weight: 400;">{{ item.title }}
          {% if item.sold %}
              <span style="color:red;">(This item has been sold)</span>
          {% elif item.pending_flag %}
              {% if item.pending_buyer == request.user %}
                  <span style="color: red">(You are purchasing this item)</span>
              {% else %}
                  <span style="color:red;">(This item is being purchased)</span>
              {% endif %}
          {% endif %}</h2>

<div id="Gallery">
    {% if post.is_facebook_post %}
            <li><a href="{{ item.facebookpost.get_picture }}"><img src="{{ item.facebookpost.get_picture }}" alt="{{ item.title  }} Image" /></a></li>
    {% else %}
        {% for image_url in image_set %}
            {% if forloop.first %}
                <a href="{{ image_url }}" rel="external"><img src="{{ image_url }}" alt="{{ item.title  }} Image" width="100%"/></a>
            {% else %}
                <a href="{{ image_url }}" rel="external"><img src="{{ image_url }}" alt="{{ item.title  }} Image" width="100%" style="display:none;"/></a>
            {% endif %}
        {% endfor %}
    {% endif %}
</div>

    <center><caption>Touch photo to view more and enlarge.</caption></center>

    <div id="item-info">
        <h3 style="margin-bottom: 0;">Description:</h3>
        <p style="margin-top: 5px; margin-bottom: 0; white-space:pre-wrap">{{ item.body }}</p>
    </div>

    <div id="item-details">
    <!--h3>Item Details</h3-->

    <h4 class="push-up">Price: <span class="item-details-span" style="color: #2e8b57;">$ {{ item.price }}</span></h4>

    <h4 class="push-up">
        Seller:
        <span class="item-details-span">
        {% if item.owner.get_full_name %}
            {{ item.owner.get_full_name }}
        {% else %}
            {{ item.owner.username }}
        {% endif %}
        </span>
    </h4>

    <h4 class="push-up">
        Date Added:
        <span class="item-details-span">
            {% if item.is_facebook_post %}
                {{ item.facebookpost.created_time.date }}
            {% else %}
                {{ item.time_created.date }}
            {% endif %}
        </span>
    </h4>

    <h4 class="push-up">Category: <span class="item-details-span">{{ item.category.name }}</span></h4>
    
    {% if request.user.is_authenticated and request.user == item.owner and not item.pending_flag %}
        <a href="#delete-modal" id="delete-btn" data-role="button" data-rel="dialog" data-theme="a">Delete Item</a>
    {% endif %}
    
    </div>


    <!--
    <br>

    <label style="padding: 3%;">Send a message to the owner:</label>
    <form onsubmit="javascript: return false;" id="message-form" data-ajax="false">{% csrf_token %}
    <input type="hidden" name="post_pk" value="{{ item.pk }}" />
    <input type="hidden" name="recipient_pk" value="{{ item.owner.pk }}" />
    <textarea id="message-text" name="message"></textarea>
    <input type="submit" value="Send Message" data-theme="b"/>
    </form>
    -->

    
    {% if request.user.is_authenticated %}
        <center>
          {% if item.sold %}
            {% if item.pending_buyer == request.user %}

              You bought this item! Hooray!
            {% else %}

              This item has been sold and is no longer listed.
            {% endif %}
          {% elif item.pending_flag %}
              {% if thread %}
                <a href="{{ thread.get_mobile_url }}" data-role="button" rel="external">View Messages</a>
              {% else %}

                This item is being purchased and is no longer listed.
              {% endif %}
          {% elif item.owner != request.user %}
                <a href="#modal" id="buy-btn" data-role="button" data-rel="dialog" data-theme="b">Buy Now</a> 
          {% endif %}
          <button id="item-flag-btn" data-icon="alert">Flag as inappropriate</button>
          
          </center>
    {% else %}
        <a href="/?next={{ item.get_absolute_url }}" data-role="button">Login to Buy</a>
    {% endif %}
    
    
   <br>
   
   <div id="comments-section" style="border-top: 1px solid #bebebe">
       <h3 style="margin:0; border-bottom: solid #4c4c4c 1px;">Comments</h3>
       {% if comments %}
        <ul data-role="listview">
        {% for comment in comments %}
          <li style="padding: 0;">
            {% comment %}
            {% if comment.sender == request.user %}
            <div style="width: 85%; float: left;">
            {% endif %}
            {% endcomment %}
          
            {% if comment.seller_response == "" and item.owner == request.user and comment.sender != request.user %}
            <!-- enables tap to respond for seller -->
            <a href="#comment-modal-{{ comment.id }}" data-rel="dialog" style="padding: 0">
            {% endif %}
            
            <h3>
            {% if comment.sender == item.owner %}
                <span style="color:green">[Seller] {{comment.sender.get_full_name }}</span>
            {% else %} 
                {{comment.sender.get_full_name }}
            {% endif %}
            </h3>
            <p style="white-space: normal">"{{comment.body}}"</p>
            
            {% if comment.seller_response != "" %}
              <br>
              <p style="color:green; white-space: normal">Seller Response: "{{ comment.seller_response }}"</p>
            {% endif %}
            
            {% if comment.seller_response == "" and item.owner == request.user and comment.sender != request.user %}
            <br>
            <p><b>Tap to respond to commenter!</b></p>
            </a>
            {% endif %}
            
            {% comment %}
            {% if comment.sender == request.user %}
            </div><!-- combine with .sender==.user up top-->
            
            <button data-icon="delete" data-iconpos="top" data-inline="true">Delete Comment</button>
            
            <div style="clear: both"></div>

            {% endif %}
            {% endcomment %}
          </li>

        {% endfor %}
        </ul>
        {% else %}
            <p>No comments currently exist.</p>
        {% endif %}
   {% if request.user.is_authenticated %}
   <a href="#comment-modal" data-role="button" data-rel="dialog">Comment</a>
   {% endif %}
   </div><!-- /div id=comments-section -->
    


{% endblock %}

{% block after_page %}
<!-- modal -->
<div data-role="page" id="modal">
   
    <div data-role="header">
        <h1>Buy Now</h1>

    </div><!-- /header -->

    <div data-role="content" data-theme="d">    
        <p>Send a message to the seller to hash out the details of your purchase, such as when and where you want to meet up!</p>
        <textarea id="message-text" placeholder="Can you meet at Dwinelle this Friday at 12pm? Thanks!"></textarea>
        
        <p id="no-modal-msg" style="color:red; display: none;">Please enter a message</p>
        
        <p><b>Note:</b> Once you buy the product, this item will no longer be listed. So please buy accordingly!</p>      
    
    <fieldset class="ui-grid-a">
        <div class="ui-block-a"><a href="{{ item.get_absolute_url }}" data-rel="back" data-role="button" data-theme="c">Cancel</a></div>
        <div class="ui-block-b"><button id="modal-send" data-theme="b">Buy</button></div>	   
    </fieldset>
    
    </div><!-- /content -->


    
</div><!-- /page modal -->

<!-- delete modal -->
<div data-role="page" id="delete-modal">
    
    <div data-role="header">
        <h1>Delete</h1>

    </div><!-- /header -->

    <div data-role="content" data-theme="d">    
        <p>Are you sure you want to delete your item "{{ item.title }}"?</p>  
    
    <fieldset class="ui-grid-a">
        <div class="ui-block-a"><a href="{{ item.get_absolute_url }}" data-rel="back" data-role="button" data-theme="c">Cancel</a></div>
        <div class="ui-block-b"><a href="/delete_item/{{ item.id }}/" data-role="button" id="delete-item" data-theme="a">Delete</a></div>	   
    </fieldset>
    
    </div><!-- /content -->
</div><!-- /page modal -->

<!-- comment modal -->
<div data-role="page" id="comment-modal">

    

    
    <div data-role="header">
        <h1>Comment</h1>

    </div><!-- /header -->

    <div data-role="content" data-theme="d">    
        <p>Comment on the item "{{ item.title }}".</p>
        <textarea id="comment-txt"></textarea>
        
        <p id="no-comment-msg" style="color:red; display: none;">Please enter a message</p>
    
    <fieldset class="ui-grid-a">
        <div class="ui-block-a"><a data-rel="back" data-role="button" data-theme="c">Cancel</a></div>
        <div class="ui-block-b"><button id="comment-send" data-theme="b">Comment</button></div>	   
    </fieldset>
    
    </div><!-- /content -->
    
</div><!-- /page modal -->

<!-- comment modals for owner responses -->
{% for comment in comments %}

    <!-- comment modal -->
        <div data-role="page" id="comment-modal-{{ comment.id }}">

            

            
            <div data-role="header">
                <h1>Reply</h1>

            </div><!-- /header -->

            <div data-role="content" data-theme="d">
                <p>Reply to <b>{{ comment.sender.get_full_name }}</b>!
                <br>
                "{{ comment.body }}"
                </p>
                <textarea id="reply-comment-{{ comment.id }}"></textarea>
            
                <fieldset class="ui-grid-a">
                    <div class="ui-block-a"><a data-rel="back" data-role="button" data-theme="c">Cancel</a></div>
                    <div class="ui-block-b"><button id="{{ comment.id }}" class="reply-comment-button" data-theme="b">Reply</button></div>	   
                </fieldset>
            
            </div><!-- /content -->
            
        </div><!-- /page modal -->

{% endfor %}

{% endblock %}

{% block javascript %}
    <script type="text/javascript" src="/static/mobile/photoswipe/lib/klass.min.js"></script>
    <script type="text/javascript" src="/static/mobile/photoswipe/code.photoswipe.jquery-3.0.5.min.js"></script>


    <script type="text/javascript">

    $("#item-flag-btn").click(function(){
        if (confirm("Are you sure you want to flag this post?")) {
            window.location.href="/flag/{{ item.pk }}" 
        }
    })

        //$(document).bind('pageinit', function(){


            var recipient_pk = {{ item.owner.pk }}
            var post_pk = {{ item.pk }}
            var csrfmiddlewaretoken = "{{ csrf_token }}";
            var view_thread = false;

            var photoSwipeInstance = $("#Gallery a").photoSwipe({
                enableMouseWheel: false ,
                enableKeyboard: false,
                jQueryMobile: true,
                preventSlideshow: true
            });





        //});

    </script>
{% endblock %}